In [2]:
import pandas as pd
from datetime import datetime
import os
import numpy as np

### Import and Join Monthly Reports of Bike Trips Taken

In [10]:
file = pd.read_csv(os.path.join("Raw","Bike_Trip_Histories","201801-citibike-tripdata.csv"))
df = pd.DataFrame(file)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [7]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [11]:
df['starttime'] = pd.to_datetime(df['starttime'])
df['stoptime'] = pd.to_datetime(df['stoptime'])
df.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
dtype: object

In [12]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.434,2018-01-01 14:07:08.186,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,1
1,723,2018-01-01 15:33:30.182,2018-01-01 15:45:33.341,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,1
2,496,2018-01-01 15:39:18.337,2018-01-01 15:47:35.172,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,1
3,306,2018-01-01 15:40:13.372,2018-01-01 15:45:20.191,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,1
4,306,2018-01-01 18:14:51.568,2018-01-01 18:19:57.642,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,1

In [13]:
df['gender'] = np.select([df.gender == 1, df.gender == 2], 
                        ['male', 'female'], 
                        default='unknown')
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,970,2018-01-01 13:50:57.434,2018-01-01 14:07:08.186,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,male
1,723,2018-01-01 15:33:30.182,2018-01-01 15:45:33.341,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,male
2,496,2018-01-01 15:39:18.337,2018-01-01 15:47:35.172,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,male
3,306,2018-01-01 15:40:13.372,2018-01-01 15:45:20.191,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,male
4,306,2018-01-01 18:14:51.568,2018-01-01 18:19:57.642,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,male
5,1602,2018-01-01 21:31:54.192,2018-01-01 21:58:36.353,72,W 52 St & 11 Ave,40.767272,-73.993929,482,W 15 St & 7 Ave,40.739355,-73.999318,30106,Subscriber,1968,male
6,722,2018-01-02 07:54:53.646,2018-01-02 08:06:55.872,72,W 52 St & 11 Ave,40.767272,-73.993929,228,E 48 St & 3 Ave,40.754601,-73.971879,32059,Subscriber,1978,male
7,434,2018-01-02 08:06:14.331,2018-01-02 08:13:28.767,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,30525,Subscriber,1983,male
8,366,2018-01-02 08:10:15.255,2018-01-02 08:16:21.896,72,W 52 St & 11 Ave,40.767272,-73.993929,479,9 Ave & W 45 St,40.760193,-73.991255,27439,Subscriber,1974,male
9,324,2018-01-02 08:13:30.896,2018-01-02 08:18:55.120,72,W 52 St & 11 Ave,40.767272,-73.993929,450,W 49 St & 8 Ave,40.762272,-73.987882,30892,Subscriber,1947,male
10,1155,2018-01-02 09:15:29.905,2018-01-02 09:34:45.020,72,W 52 St & 11 Ave,40.767272,-73.993929,347,Greenwich St & W Houston St,40.728846,-74.008591,31591,Subscriber,1982,male
11,1200,2018-01-02 10:23:18.880,2018-01-02 10:43:18.911,72,W 52 St & 11 Ave,40.767272,-73.993929,127,Barrow St & Hudson St,40.731724,-74.006744,30257,Subscriber,1974,male
12,732,2018-01-02 11:52:37.554,2018-01-02 12:04:49.880,72,W 52 St & 11 Ave,40.767272,-73.993929,3635,W 36 St & 9 Ave,40.754623,-73.995168,32649,Subscriber,1969,male
13,600,2018-01-02 12:20:57.007,2018-01-02 12:30:57.018,72,W 52 St & 11 Ave,40.767272,-73.993929,457,Broadway & W 58 St,40.766953,-73.981693,26964,Subscriber,1991,male
14,1058,2018-01-02 13:28:46.154,2018-01-02 13:46:24.307,72,W 52 St & 11 Ave,40.767272,-73.993929,523,W 38 St & 8 Ave,40.754666,-73.991382,32617,Subscriber,1947,male
15,256,2018-01-02 13:54:11.646,2018-01-02 13:58:28.198,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,31095,Subscriber,1978,male
16,318,2018-01-02 13:55:11.920,2018-01-02 14:00:29.941,72,W 52 St & 11 Ave,40.767272,-73.993929,478,11 Ave & W 41 St,40.760301,-73.998842,31182,Subscriber,1963,male
17,694,2018-01-02 14:27:49.623,2018-01-02 14:39:24.127,72,W 52 St & 11 Ave,40.767272,-73.993929,484,W 44 St & 5 Ave,40.755003,-73.980144,32375,Subscriber,1967,male
18,604,2018-01-02 15:04:41.381,2018-01-02 15:14:45.709,72,W 52 St & 11 Ave,40.767272,-73.993929,3635,W 36 St & 9 Ave,40.754623,-73.995168,32505,Subscriber,1964,male
19,724,2018-01-02 15:25:00.541,2018-01-02 15:37:05.323,72,W 52 St & 11 Ave,40.767272,-73.993929,490,8 Ave & W 33 St,40.751551,-73.993934,19512,Subscriber,1965,male
20,395,2018-01-02 15:37:55.931,2018-01-02 15:44:31.055,72,W 52 St & 11 Ave,40.767272,-73.993929,514,12 Ave & W 40 St,40.760875,-74.002777,17881,Subscriber,1956,male
21,520,2018-01-02 16:09:21.180,2018-01-02 16:18:02.051,72,W 52 St & 11 Ave,40.767272,-73.993929,500,Broadway & W 51 St,40.762288,-73.983362,31426,Customer,1969,unknown
22,430,2018-01-02 16:10:59.379,2018-01-02 16:18:10.011,72,W 52 St & 11 Ave,40.767272,-73.993929,500,Broadway & W 51 St,40.762288,-73.983362,32349,Customer,1969,unknown
23,842,2018-01-02 16:34:16.292,2018-01-02 16:48:18.618,72,W 52 St & 11 Ave,40.767272,-73.993929,490,8 Ave & W 33 St,40.751551,-73.993934,31019,Subscriber,1978,male
24,243,2018-01-02 16:36:12.612,2018-01-02 16:40:15.766,72,W 52 St & 11 Ave,40.767272,-73.993929,479,9 Ave & W 45 St,40.760193,-73.991255,29984,Subscriber,1973,male
25,705,2018-01-02 16:36:14.316,2018-01-02 16:47:59.734,72,W 52 St & 11 Ave,40.767272,-73.993929,477,W 41 St & 8 Ave,40.756405,-73.990026,20922,Subscriber,1992,male
26,1163,2018-01-02 16:43:09.929,2018-01-02 17:02:33.253,72,W 52 St & 11 Ave,40.767272,-73.993929,3466,W 45 St & 6 Ave (OLD),40.756687,-73.982577,33277,Subscriber,1974,male
27,680,2018-01-02 16:58:34.708,2018-01-02 17:09:55.003,72,W 52 St & 11 Ave,40.767272,-73.993929,490,8 Ave & W 33 St,40.751551,-73.993934,16425,Subscriber,1964,male
28,634,2018-01-02 17:04:25.619,2018-01-02 17:14:59.775,72,W 52 St & 11 Ave,40.767272,-73.993929,484,W 44 St & 5 Ave,40.755003,-73.980144,28382,Subscriber,1977,male
29,782,2018-01-02 17:13:04.475,2018-01-02 17:26:06.825,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,30649,Subscriber,1982,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718964,925,2018-01-31 15:55:24.825,2018-01-31 16:10:50.102,3664,North Moore St & Greenwich St,40.720195,-74.010301,3260,Mercer St & Bleecker St,40.727064,-73.996621,31396,Subscriber,1949,male
718965,1186,2018-01-31 15:59:05.547,2018-01-31 16:18:51.889,3664,North Moore St & Greenwich St,40.720195,-74.010301,3472,W 15 St & 10 Ave,40.742754,-74.007474,32943,Subscriber,1963,male
718966,153,2018-01-31 16:02:07.696,2018-01-31 16:04:40.747,3664,North Moore St & Greenwich St,40.720195,-74.010301,309,Murray St & West St,40.714979,-74.013012,17443,Subscriber,1975,male
718967,194,2018-01-31 16:09:19.698,2018-01-31 16:12:33.909,3664,North Moore St & Greenwich St,40.720195,-74.010301,327,Vesey Pl & River Terrace,40.715338,-74.016584,16746,Subscriber,1971,male
718968,288,2018-01-31 16:29:07.365,2018-01-31 16:33:56.231,3664,North Moore St & Greenwich St,40.720195,-74.010301,327,Vesey Pl & River Terrace,40.715338,-74.016584,21334,Subscriber,1967,male
718969,226,2018-01-31 16:32:55.411,2018-01-31 16:36:41.880,3664,North Moore St & Greenwich St,40.720195,-74.010301,327,Vesey Pl & River Terrace,40.715338,-74.016584,16502,Subscriber,1973,male
718970,246,2018-01-31 16:49:24.517,2018-01-31 16:53:30.748,3664,North Moore St & Greenwich St,40.720195,-74.010301,347,Greenwich St & W Houston St,40.728846,-74.008591,27978,Subscriber,1990,male
718971,239,2018-01-31 16:51:02.158,2018-01-31 16:55:01.841,3664,North Moore St & Greenwich St,40.720195,-74.010301,327,Vesey Pl & River Terrace,40.715338,-74.016584,19534,Subscriber,1975,male
718972,154,2018-01-31 16:51:50.311,2018-01-31 16:54:25.240,3664,North Moore St & Greenwich St,40.720195,-74.010301,79,Franklin St & W Broadway,40.719116,-74.006667,31973,Subscriber,1982,male
718973,797,2018-01-31 16:51:50.586,2018-01-31 17:05:07.777,3664,North Moore St & Greenwich St,40.720195,-74.010301,327,Vesey Pl & River Terrace,40.715338,-74.016584,18335,Subscriber,1970,male
718974,190,2018-01-31 16:54:25.324,2018-01-31 16:57:36.063,3664,North Moore St & Greenwich St,40.720195,-74.010301,417,Barclay St & Church St,40.712912,-74.010202,25504,Subscriber,1976,male
718975,297,2018-01-31 17:00:43.801,2018-01-31 17:05:41.751,3664,North Moore St & Greenwich St,40.720195,-74.010301,327,Vesey Pl & River Terrace,40.715338,-74.016584,15080,Subscriber,1987,male
718976,175,2018-01-31 17:01:53.303,2018-01-31 17:04:48.334,3664,North Moore St & Greenwich St,40.720195,-74.010301,146,Hudson St & Reade St,40.716250,-74.009106,32243,Subscriber,1969,male
718977,292,2018-01-31 17:03:02.592,2018-01-31 17:07:55.413,3664,North Moore St & Greenwich St,40.720195,-74.010301,327,Vesey Pl & River Terrace,40.715338,-74.016584,18497,Subscriber,1966,male
718978,622,2018-01-31 17:03:03.526,2018-01-31 17:13:26.453,3664,North Moore St & Greenwich St,40.720195,-74.010301,427,Bus Slip & State St,40.701907,-74.013942,25683,Subscriber,1971,male
718979,1552,2018-01-31 17:05:57.496,2018-01-31 17:31:49.743,3664,North Moore St & Greenwich St,40.720195,-74.010301,484,W 44 St & 5 Ave,40.755003,-73.980144,17141,Subscriber,1974,male
718980,222,2018-01-31 17:13:08.660,2018-01-31 17:16:50.843,3664,North Moore St & Greenwich St,40.720195,-74.010301,327,Vesey Pl & River Terrace,40.715338,-74.016584,31796,Subscriber,1978,male
718981,335,2018-01-31 17:14:48.836,2018-01-31 17:20:24.135,3664,North Moore St & Greenwich St,40.720195,-74.010301,195,Liberty St & Broadway,40.709056,-74.010434,25374,Subscriber,1973,male
718982,217,2018-01-31 17:17:39.011,2018-01-31 17:21:16.283,3664,North Moore St & Greenwich St,40.720195,-74.010301,327,Vesey Pl & River Terrace,40.715338,-74.016584,32340,Subscriber,1973,male
718983,900,2018-01-31 17:18:03.234,2018-01-31 17:33:03.695,3664,North Moore St & Greenwich St,40.720195,-74.010301,3664,North Moore St & Greenwich St,40.720195,-74.010301,26896,Subscriber,1963,male
718984,507,2018-01-31 17:26:08.107,2018-01-31 17:34:35.937,3664,North Moore St & Greenwich St,40.720195,-74.010301,306,Cliff St & Fulton St_1,40.708235,-74.005301,26934,Subscriber,1980,male
718985,528,2018-01-31 17:26:08.429,2018-01-31 17:34:56.724,3664,North Moore St & Greenwich St,40.720195,-74.010301,306,Cliff St & Fulton St_1,40.708235,-74.005301,31483,Subscriber,1976,male
718986,533,2018-01-31 17:26:08.639,2018-01-31 17:35:02.060,3664,North Moore St & Greenwich St,40.720195,-74.010301,306,Cliff St & Fulton St_1,40.708235,-74.005301,19938,Subscriber,1989,male
718987,203,2018-01-31 17:26:48.664,2018-01-31 17:30:12.112,3664,North Moore St & Greenwich St,40.720195,-74.010301,327,Vesey Pl & River Terrace,40.715338,-74.016584,28647,Subscriber,1964,male
718988,739,2018-01-31 17:28:19.679,2018-01-31 17:40:39.196,3664,North Moore St & Greenwich St,40.720195,-74.010301,351,Front St & Maiden Ln,40.705310,-74.006126,33044,Subscriber,1997,male
718989,843,2018-01-31 17:28:27.539,2018-01-31 17:42:30.589,3664,North Moore St & Greenwich St,40.720195,-74.010301,410,Suffolk St & Stanton St,40.720664,-73.985180,15153,Subscriber,1981,male
718990,244,2018-01-31 17:34:20.451,2018-01-31 17:38:24.720,3664,North Moore St & Greenwich St,40.720195,-74.010301,327,Vesey Pl & River Terrace,40.715338,-74.016584,26896,Subscriber,1960,male
718991,302,2018-01-31 18:20:55.543,2018-01-31 18:25:58.335,3664,North Moore St & Greenwich St,40.720195,-74.010301,327,Vesey Pl & River Terrace,40.715338,-74.016584,33111,Subscriber,1965,male
718992,222,2018-01-31 18:47:42.572,2018-01-31 18:51:24.683,3664,North Moore St & Greenwich St,40.720195,-74.010301,257,Lispenard St & Broadway,40.719392,-74.002472,16675,Subscriber,1969,unknown
718993,713,2018-01-31 19:35:55.484,2018-01-31 19:47:48.640,3664,North Moore St & Greenwich St,40.720195,-74.010301,280,E 10 St & 5 Ave,40.733320,-73.995101,17928,Subscriber,1991,male

In [16]:
df['gender'].value_counts()

male       537589
female     151806
unknown     29599
Name: gender, dtype: int64

In [22]:
def func(row):
    if row['birth year'] <= 1945:
        return 'Silent'
    elif row['birth year'] <= 1964:
        return 'Boomers' 
    elif row['birth year'] <=1980:
        return 'Generation X'
    elif row['birth year'] <=1996:
        return 'Millennials'
    else:
        return 'Generation Z'

df['generation'] = df.apply(func, axis=1)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Generation
0,970,2018-01-01 13:50:57.434,2018-01-01 14:07:08.186,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,male,Millennials
1,723,2018-01-01 15:33:30.182,2018-01-01 15:45:33.341,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,male,Generation X
2,496,2018-01-01 15:39:18.337,2018-01-01 15:47:35.172,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,male,Boomers
3,306,2018-01-01 15:40:13.372,2018-01-01 15:45:20.191,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,male,Generation X
4,306,2018-01-01 18:14:51.568,2018-01-01 18:19:57.642,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,male,Millennials

In [23]:
df.rename(columns = {
    'tripduration':'duration (min)',
    'starttime':'start',
    'stoptime':'stop',}, inplace = True)
df.drop(['start station name', 'start station latitude','start station longitude','end station name','end station latitude','end station longitude'],axis=1, inplace=True)
df

,duration (min),start,stop,start station id,end station id,bikeid,usertype,birth year,gender,Generation
0,970,2018-01-01 13:50:57.434,2018-01-01 14:07:08.186,72,505,31956,Subscriber,1992,male,Millennials
1,723,2018-01-01 15:33:30.182,2018-01-01 15:45:33.341,72,3255,32536,Subscriber,1969,male,Generation X
2,496,2018-01-01 15:39:18.337,2018-01-01 15:47:35.172,72,525,16069,Subscriber,1956,male,Boomers
3,306,2018-01-01 15:40:13.372,2018-01-01 15:45:20.191,72,447,31781,Subscriber,1974,male,Generation X
4,306,2018-01-01 18:14:51.568,2018-01-01 18:19:57.642,72,3356,30319,Subscriber,1992,male,Millennials
5,1602,2018-01-01 21:31:54.192,2018-01-01 21:58:36.353,72,482,30106,Subscriber,1968,male,Generation X
6,722,2018-01-02 07:54:53.646,2018-01-02 08:06:55.872,72,228,32059,Subscriber,1978,male,Generation X
7,434,2018-01-02 08:06:14.331,2018-01-02 08:13:28.767,72,173,30525,Subscriber,1983,male,Millennials
8,366,2018-01-02 08:10:15.255,2018-01-02 08:16:21.896,72,479,27439,Subscriber,1974,male,Generation X
9,324,2018-01-02 08:13:30.896,2018-01-02 08:18:55.120,72,450,30892,Subscriber,1947,male,Boomers
10,1155,2018-01-02 09:15:29.905,2018-01-02 09:34:45.020,72,347,31591,Subscriber,1982,male,Millennials
11,1200,2018-01-02 10:23:18.880,2018-01-02 10:43:18.911,72,127,30257,Subscriber,1974,male,Generation X
12,732,2018-01-02 11:52:37.554,2018-01-02 12:04:49.880,72,3635,32649,Subscriber,1969,male,Generation X
13,600,2018-01-02 12:20:57.007,2018-01-02 12:30:57.018,72,457,26964,Subscriber,1991,male,Millennials
14,1058,2018-01-02 13:28:46.154,2018-01-02 13:46:24.307,72,523,32617,Subscriber,1947,male,Boomers
15,256,2018-01-02 13:54:11.646,2018-01-02 13:58:28.198,72,514,31095,Subscriber,1978,male,Generation X
16,318,2018-01-02 13:55:11.920,2018-01-02 14:00:29.941,72,478,31182,Subscriber,1963,male,Boomers
17,694,2018-01-02 14:27:49.623,2018-01-02 14:39:24.127,72,484,32375,Subscriber,1967,male,Generation X
18,604,2018-01-02 15:04:41.381,2018-01-02 15:14:45.709,72,3635,32505,Subscriber,1964,male,Boomers
19,724,2018-01-02 15:25:00.541,2018-01-02 15:37:05.323,72,490,19512,Subscriber,1965,male,Generation X
20,395,2018-01-02 15:37:55.931,2018-01-02 15:44:31.055,72,514,17881,Subscriber,1956,male,Boomers
21,520,2018-01-02 16:09:21.180,2018-01-02 16:18:02.051,72,500,31426,Customer,1969,unknown,Generation X
22,430,2018-01-02 16:10:59.379,2018-01-02 16:18:10.011,72,500,32349,Customer,1969,unknown,Generation X
23,842,2018-01-02 16:34:16.292,2018-01-02 16:48:18.618,72,490,31019,Subscriber,1978,male,Generation X
24,243,2018-01-02 16:36:12.612,2018-01-02 16:40:15.766,72,479,29984,Subscriber,1973,male,Generation X
25,705,2018-01-02 16:36:14.316,2018-01-02 16:47:59.734,72,477,20922,Subscriber,1992,male,Millennials
26,1163,2018-01-02 16:43:09.929,2018-01-02 17:02:33.253,72,3466,33277,Subscriber,1974,male,Generation X
27,680,2018-01-02 16:58:34.708,2018-01-02 17:09:55.003,72,490,16425,Subscriber,1964,male,Boomers
28,634,2018-01-02 17:04:25.619,2018-01-02 17:14:59.775,72,484,28382,Subscriber,1977,male,Generation X
29,782,2018-01-02 17:13:04.475,2018-01-02 17:26:06.825,72,3255,30649,Subscriber,1982,male,Millennials
...,...,...,...,...,...,...,...,...,...,...
718964,925,2018-01-31 15:55:24.825,2018-01-31 16:10:50.102,3664,3260,31396,Subscriber,1949,male,Boomers
718965,1186,2018-01-31 15:59:05.547,2018-01-31 16:18:51.889,3664,3472,32943,Subscriber,1963,male,Boomers
718966,153,2018-01-31 16:02:07.696,2018-01-31 16:04:40.747,3664,309,17443,Subscriber,1975,male,Generation X
718967,194,2018-01-31 16:09:19.698,2018-01-31 16:12:33.909,3664,327,16746,Subscriber,1971,male,Generation X
718968,288,2018-01-31 16:29:07.365,2018-01-31 16:33:56.231,3664,327,21334,Subscriber,1967,male,Generation X
718969,226,2018-01-31 16:32:55.411,2018-01-31 16:36:41.880,3664,327,16502,Subscriber,1973,male,Generation X
718970,246,2018-01-31 16:49:24.517,2018-01-31 16:53:30.748,3664,347,27978,Subscriber,1990,male,Millennials
718971,239,2018-01-31 16:51:02.158,2018-01-31 16:55:01.841,3664,327,19534,Subscriber,1975,male,Generation X
718972,154,2018-01-31 16:51:50.311,2018-01-31 16:54:25.240,3664,79,31973,Subscriber,1982,male,Millennials
718973,797,2018-01-31 16:51:50.586,2018-01-31 17:05:07.777,3664,327,18335,Subscriber,1970,male,Generation X
718974,190,2018-01-31 16:54:25.324,2018-01-31 16:57:36.063,3664,417,25504,Subscriber,1976,male,Generation X
718975,297,2018-01-31 17:00:43.801,2018-01-31 17:05:41.751,3664,327,15080,Subscriber,1987,male,Millennials
718976,175,2018-01-31 17:01:53.303,2018-01-31 17:04:48.334,3664,146,32243,Subscriber,1969,male,Generation X
718977,292,2018-01-31 17:03:02.592,2018-01-31 17:07:55.413,3664,327,18497,Subscriber,1966,male,Generation X
718978,622,2018-01-31 17:03:03.526,2018-01-31 17:13:26.453,3664,427,25683,Subscriber,1971,male,Generation X
718979,1552,2018-01-31 17:05:57.496,2018-01-31 17:31:49.743,3664,484,17141,Subscriber,1974,male,Generation X
718980,222,2018-01-31 17:13:08.660,2018-01-31 17:16:50.843,3664,327,31796,Subscriber,1978,male,Generation X
718981,335,2018-01-31 17:14:48.836,2018-01-31 17:20:24.135,3664,195,25374,Subscriber,1973,male,Generation X
718982,217,2018-01-31 17:17:39.011,2018-01-31 17:21:16.283,3664,327,32340,Subscriber,1973,male,Generation X
718983,900,2018-01-31 17:18:03.234,2018-01-31 17:33:03.695,3664,3664,26896,Subscriber,1963,male,Boomers
718984,507,2018-01-31 17:26:08.107,2018-01-31 17:34:35.937,3664,306,26934,Subscriber,1980,male,Generation X
718985,528,2018-01-31 17:26:08.429,2018-01-31 17:34:56.724,3664,306,31483,Subscriber,1976,male,Generation X
718986,533,2018-01-31 17:26:08.639,2018-01-31 17:35:02.060,3664,306,19938,Subscriber,1989,male,Millennials
718987,203,2018-01-31 17:26:48.664,2018-01-31 17:30:12.112,3664,327,28647,Subscriber,1964,male,Boomers
718988,739,2018-01-31 17:28:19.679,2018-01-31 17:40:39.196,3664,351,33044,Subscriber,1997,male,Generation Z
718989,843,2018-01-31 17:28:27.539,2018-01-31 17:42:30.589,3664,410,15153,Subscriber,1981,male,Millennials
718990,244,2018-01-31 17:34:20.451,2018-01-31 17:38:24.720,3664,327,26896,Subscriber,1960,male,Boomers
718991,302,2018-01-31 18:20:55.543,2018-01-31 18:25:58.335,3664,327,33111,Subscriber,1965,male,Generation X
718992,222,2018-01-31 18:47:42.572,2018-01-31 18:51:24.683,3664,257,16675,Subscriber,1969,unknown,Generation X
718993,713,2018-01-31 19:35:55.484,2018-01-31 19:47:48.640,3664,280,17928,Subscriber,1991,male,Millennials

In [34]:
appended_data = []
path = os.path.join("Raw","Bike_Trip_Histories","2018Q1")
for WorkingFile in os.listdir(path):
    file = pd.read_csv(os.path.join(path, WorkingFile))
    df = pd.DataFrame(file)
    df['starttime'] = pd.to_datetime(df['starttime'])
    df['stoptime'] = pd.to_datetime(df['stoptime'])
    df.rename(columns = {
    'tripduration':'duration (min)',
    'starttime':'start',
    'stoptime':'stop',}, inplace = True)
    df['gender'] = np.select([df.gender == 1, df.gender == 2], 
                        ['male', 'female'], 
                        default='unknown')
    def func(row):
        if row['birth year'] <= 1945:
            return 'Silent'
        elif row['birth year'] <= 1964:
            return 'Boomers' 
        elif row['birth year'] <=1980:
            return 'Generation X'
        elif row['birth year'] <=1996:
            return 'Millennials'
        else:
            return 'Generation Z'

    df['generation'] = df.apply(func, axis=1)

    appended_data.append(df)
Q1_2018 = pd.concat(appended_data)
Q1_2018.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation
0,970,2018-01-01 13:50:57.434,2018-01-01 14:07:08.186,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,male,Millennials
1,723,2018-01-01 15:33:30.182,2018-01-01 15:45:33.341,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,male,Generation X
2,496,2018-01-01 15:39:18.337,2018-01-01 15:47:35.172,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,male,Boomers
3,306,2018-01-01 15:40:13.372,2018-01-01 15:45:20.191,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,male,Generation X
4,306,2018-01-01 18:14:51.568,2018-01-01 18:19:57.642,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,male,Millennials

In [35]:
Q1_2018.dtypes

duration (min)                      int64
start                      datetime64[ns]
stop                       datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                             object
generation                         object
dtype: object

In [53]:
Q1_2018['Year'] = Q1_2018['start'].dt.year

In [54]:
Q1_2018.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation,Year
0,970,2018-01-01 13:50:57.434,2018-01-01 14:07:08.186,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,male,Millennials,2018
1,723,2018-01-01 15:33:30.182,2018-01-01 15:45:33.341,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,male,Generation X,2018
2,496,2018-01-01 15:39:18.337,2018-01-01 15:47:35.172,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,male,Boomers,2018
3,306,2018-01-01 15:40:13.372,2018-01-01 15:45:20.191,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,male,Generation X,2018
4,306,2018-01-01 18:14:51.568,2018-01-01 18:19:57.642,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,male,Millennials,2018

In [55]:
Q1_2018.to_csv(os.path.join("Clean","Bike_Trip_Histories","Bike_Trip_Histories_Q12018.csv"), index = False)

In [37]:
Q1_2018.describe()

,duration (min),start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year
count,2.538780e+06,2.538780e+06,2.538780e+06,2.538780e+06,2.538780e+06,2.538780e+06,2.538780e+06,2.538780e+06,2.538780e+06
mean,8.648393e+02,1.483742e+03,4.073769e+01,-7.398306e+01,1.473223e+03,4.073737e+01,-7.398335e+01,2.618555e+04,1.977943e+03
std,3.123193e+04,1.406269e+03,3.700593e-02,1.810140e-02,1.403815e+03,3.676187e-02,1.816684e-02,6.217588e+03,1.209395e+01
min,6.100000e+01,7.200000e+01,4.064654e+01,-7.401713e+01,7.200000e+01,4.064654e+01,-7.405570e+01,1.452900e+04,1.885000e+03
25%,3.210000e+02,3.770000e+02,4.071901e+01,-7.399468e+01,3.690000e+02,4.071901e+01,-7.399490e+01,1.980600e+04,1.969000e+03
50%,5.210000e+02,4.980000e+02,4.073932e+01,-7.398584e+01,4.970000e+02,4.073913e+01,-7.398658e+01,2.841800e+04,1.980000e+03
75%,8.750000e+02,3.173000e+03,4.075669e+01,-7.397484e+01,3.172000e+03,4.075641e+01,-7.397520e+01,3.155300e+04,1.988000e+03
max,1.951005e+07,3.674000e+03,4.550636e+01,-7.356891e+01,3.674000e+03,4.550636e+01,-7.356891e+01,3.355100e+04,2.002000e+03

In [38]:
appended_data = []
path = os.path.join("Raw","Bike_Trip_Histories","2018Q2")
for WorkingFile in os.listdir(path):
    file = pd.read_csv(os.path.join(path, WorkingFile))
    df = pd.DataFrame(file)
    df['starttime'] = pd.to_datetime(df['starttime'])
    df['stoptime'] = pd.to_datetime(df['stoptime'])
    df.rename(columns = {
    'tripduration':'duration (min)',
    'starttime':'start',
    'stoptime':'stop',}, inplace = True)
    df['gender'] = np.select([df.gender == 1, df.gender == 2], 
                        ['male', 'female'], 
                        default='unknown')
    def func(row):
        if row['birth year'] <= 1945:
            return 'Silent'
        elif row['birth year'] <= 1964:
            return 'Boomers' 
        elif row['birth year'] <=1980:
            return 'Generation X'
        elif row['birth year'] <=1996:
            return 'Millennials'
        else:
            return 'Generation Z'

    df['generation'] = df.apply(func, axis=1)
    
    appended_data.append(df)
Q2_2018 = pd.concat(appended_data)
Q2_2018.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation
0,840,2018-04-01 03:07:39.070,2018-04-01 03:21:39.128,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31977,Subscriber,1973,male,Generation X
1,1438,2018-04-01 07:20:02.215,2018-04-01 07:44:00.569,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,21403,Subscriber,1956,male,Boomers
2,219,2018-04-01 08:11:14.406,2018-04-01 08:14:53.788,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,29081,Subscriber,1974,male,Generation X
3,410,2018-04-01 08:52:32.373,2018-04-01 08:59:23.219,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,32130,Subscriber,1983,male,Millennials
4,485,2018-04-01 09:37:34.327,2018-04-01 09:45:39.998,72,W 52 St & 11 Ave,40.767272,-73.993929,3159,W 67 St & Broadway,40.774925,-73.982666,30055,Subscriber,1978,male,Generation X

In [56]:
Q2_2018['Year'] = Q2_2018['start'].dt.year
Q2_2018.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation,Year
0,840,2018-04-01 03:07:39.070,2018-04-01 03:21:39.128,72,W 52 St & 11 Ave,40.767272,-73.993929,379,W 31 St & 7 Ave,40.749156,-73.991600,31977,Subscriber,1973,male,Generation X,2018
1,1438,2018-04-01 07:20:02.215,2018-04-01 07:44:00.569,72,W 52 St & 11 Ave,40.767272,-73.993929,426,West St & Chambers St,40.717548,-74.013221,21403,Subscriber,1956,male,Boomers,2018
2,219,2018-04-01 08:11:14.406,2018-04-01 08:14:53.788,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,29081,Subscriber,1974,male,Generation X,2018
3,410,2018-04-01 08:52:32.373,2018-04-01 08:59:23.219,72,W 52 St & 11 Ave,40.767272,-73.993929,173,Broadway & W 49 St,40.760683,-73.984527,32130,Subscriber,1983,male,Millennials,2018
4,485,2018-04-01 09:37:34.327,2018-04-01 09:45:39.998,72,W 52 St & 11 Ave,40.767272,-73.993929,3159,W 67 St & Broadway,40.774925,-73.982666,30055,Subscriber,1978,male,Generation X,2018

In [57]:
Q2_2018.to_csv(os.path.join("Clean","Bike_Trip_Histories","Bike_Trip_Histories_Q22018.csv"), index = False)

In [40]:
Q2_2018.describe()

,duration (min),start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year
count,5.085356e+06,5.085356e+06,5.085356e+06,5.085356e+06,5.085356e+06,5.085356e+06,5.085356e+06,5.085356e+06,5.085356e+06
mean,1.117425e+03,1.574720e+03,4.073726e+01,-7.398272e+01,1.565565e+03,4.073690e+01,-7.398292e+01,2.613766e+04,1.978579e+03
std,2.315590e+04,1.432032e+03,3.243398e-02,1.909338e-02,1.430782e+03,3.223330e-02,1.915750e-02,5.828559e+03,1.181908e+01
min,6.100000e+01,7.200000e+01,4.064654e+01,-7.402535e+01,7.200000e+01,4.064654e+01,-7.406860e+01,1.452900e+04,1.885000e+03
25%,3.750000e+02,3.800000e+02,4.071749e+01,-7.399530e+01,3.790000e+02,4.071745e+01,-7.399596e+01,2.037000e+04,1.969000e+03
50%,6.430000e+02,5.040000e+02,4.073818e+01,-7.398565e+01,5.040000e+02,4.073726e+01,-7.398632e+01,2.782100e+04,1.981000e+03
75%,1.133000e+03,3.235000e+03,4.075892e+01,-7.397283e+01,3.235000e+03,4.075725e+01,-7.397344e+01,3.106300e+04,1.988000e+03
max,1.028368e+07,3.692000e+03,4.550636e+01,-7.356891e+01,3.692000e+03,4.550636e+01,-7.356891e+01,3.369900e+04,2.002000e+03

In [41]:
appended_data = []
path = os.path.join("Raw","Bike_Trip_Histories","2018Q3")
for WorkingFile in os.listdir(path):
    file = pd.read_csv(os.path.join(path, WorkingFile))
    df = pd.DataFrame(file)
    df['starttime'] = pd.to_datetime(df['starttime'])
    df['stoptime'] = pd.to_datetime(df['stoptime'])
    df.rename(columns = {
    'tripduration':'duration (min)',
    'starttime':'start',
    'stoptime':'stop',}, inplace = True)
    df['gender'] = np.select([df.gender == 1, df.gender == 2], 
                        ['male', 'female'], 
                        default='unknown')
    def func(row):
        if row['birth year'] <= 1945:
            return 'Silent'
        elif row['birth year'] <= 1964:
            return 'Boomers' 
        elif row['birth year'] <=1980:
            return 'Generation X'
        elif row['birth year'] <=1996:
            return 'Millennials'
        else:
            return 'Generation Z'

    df['generation'] = df.apply(func, axis=1)
    
    appended_data.append(df)
Q3_2018 = pd.concat(appended_data)
Q3_2018.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation
0,500,2018-07-01 00:33:51.264,2018-07-01 00:42:12.028,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,male,Millennials
1,455,2018-07-01 02:06:54.027,2018-07-01 02:14:29.090,72.0,W 52 St & 11 Ave,40.767272,-73.993929,529.0,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,male,Millennials
2,1080,2018-07-01 02:09:16.464,2018-07-01 02:27:17.029,72.0,W 52 St & 11 Ave,40.767272,-73.993929,453.0,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,female,Millennials
3,632,2018-07-01 02:55:04.587,2018-07-01 03:05:36.791,72.0,W 52 St & 11 Ave,40.767272,-73.993929,465.0,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,male,Millennials
4,1676,2018-07-01 03:24:27.435,2018-07-01 03:52:23.776,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3425.0,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,male,Millennials

In [58]:
Q3_2018['Year'] = Q3_2018['start'].dt.year
Q3_2018.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation,Year
0,500,2018-07-01 00:33:51.264,2018-07-01 00:42:12.028,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3236.0,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,male,Millennials,2018
1,455,2018-07-01 02:06:54.027,2018-07-01 02:14:29.090,72.0,W 52 St & 11 Ave,40.767272,-73.993929,529.0,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,male,Millennials,2018
2,1080,2018-07-01 02:09:16.464,2018-07-01 02:27:17.029,72.0,W 52 St & 11 Ave,40.767272,-73.993929,453.0,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,female,Millennials,2018
3,632,2018-07-01 02:55:04.587,2018-07-01 03:05:36.791,72.0,W 52 St & 11 Ave,40.767272,-73.993929,465.0,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,male,Millennials,2018
4,1676,2018-07-01 03:24:27.435,2018-07-01 03:52:23.776,72.0,W 52 St & 11 Ave,40.767272,-73.993929,3425.0,2 Ave & E 104 St,40.789210,-73.943708,31351,Subscriber,1992,male,Millennials,2018

In [59]:
Q3_2018.to_csv(os.path.join("Clean","Bike_Trip_Histories","Bike_Trip_Histories_Q32018.csv"), index = False)

In [43]:
Q3_2018.describe()

,duration (min),start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year
count,5.768686e+06,5.766582e+06,5.768686e+06,5.768686e+06,5.766582e+06,5.768686e+06,5.768686e+06,5.768686e+06,5.768686e+06
mean,1.018267e+03,1.632922e+03,4.073723e+01,-7.398241e+01,1.627039e+03,4.073686e+01,-7.398258e+01,2.621771e+04,1.979541e+03
std,1.192499e+04,1.449716e+03,3.113596e-02,1.972214e-02,1.449495e+03,3.103770e-02,1.980487e-02,6.150552e+03,1.178053e+01
min,6.100000e+01,7.200000e+01,4.064654e+01,-7.402535e+01,7.200000e+01,4.064654e+01,-7.408364e+01,1.452900e+04,1.885000e+03
25%,3.770000e+02,3.820000e+02,4.071740e+01,-7.399596e+01,3.820000e+02,4.071723e+01,-7.399601e+01,2.009400e+04,1.969000e+03
50%,6.450000e+02,5.140000e+02,4.073726e+01,-7.398562e+01,5.090000e+02,4.073705e+01,-7.398602e+01,2.779300e+04,1.982000e+03
75%,1.140000e+03,3.258000e+03,4.075898e+01,-7.397139e+01,3.259000e+03,4.075763e+01,-7.397179e+01,3.142100e+04,1.989000e+03
max,4.829587e+06,3.705000e+03,4.550626e+01,-7.356891e+01,3.705000e+03,4.550636e+01,-7.356891e+01,3.490700e+04,2.002000e+03

In [44]:
appended_data = []
path = os.path.join("Raw","Bike_Trip_Histories","2018Q4")
for WorkingFile in os.listdir(path):
    file = pd.read_csv(os.path.join(path, WorkingFile))
    df = pd.DataFrame(file)
    df['starttime'] = pd.to_datetime(df['starttime'])
    df['stoptime'] = pd.to_datetime(df['stoptime'])
    df.rename(columns = {
    'tripduration':'duration (min)',
    'starttime':'start',
    'stoptime':'stop',}, inplace = True)
    df['gender'] = np.select([df.gender == 1, df.gender == 2], 
                        ['male', 'female'], 
                        default='unknown')
    def func(row):
        if row['birth year'] <= 1945:
            return 'Silent'
        elif row['birth year'] <= 1964:
            return 'Boomers' 
        elif row['birth year'] <=1980:
            return 'Generation X'
        elif row['birth year'] <=1996:
            return 'Millennials'
        else:
            return 'Generation Z'

    df['generation'] = df.apply(func, axis=1)
    
    appended_data.append(df)
Q4_2018 = pd.concat(appended_data)
Q4_2018.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation
0,330,2018-10-01 00:00:00.701,2018-10-01 00:05:30.849,293.0,Lafayette St & E 8 St,40.730207,-73.991026,504.0,1 Ave & E 16 St,40.732219,-73.981656,30493,Subscriber,1995,male,Millennials
1,309,2018-10-01 00:00:13.578,2018-10-01 00:05:23.231,433.0,old - E 13 St & Avenue A,40.729554,-73.980572,394.0,E 9 St & Avenue C,40.725213,-73.977688,33054,Subscriber,1967,male,Generation X
2,734,2018-10-01 00:00:16.604,2018-10-01 00:12:31.505,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,285.0,Broadway & E 14 St,40.734546,-73.990741,33400,Subscriber,1983,female,Millennials
3,788,2018-10-01 00:00:35.067,2018-10-01 00:13:43.578,417.0,Barclay St & Church St,40.712912,-74.010202,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,31140,Customer,1988,male,Millennials
4,1136,2018-10-01 00:00:38.141,2018-10-01 00:19:34.649,3699.0,W 50 St & 9 Ave,40.763605,-73.989180,495.0,W 47 St & 10 Ave,40.762699,-73.993012,20294,Subscriber,1969,unknown,Generation X

In [60]:
Q4_2018['Year'] = Q4_2018['start'].dt.year
Q4_2018.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation,Year
0,330,2018-10-01 00:00:00.701,2018-10-01 00:05:30.849,293.0,Lafayette St & E 8 St,40.730207,-73.991026,504.0,1 Ave & E 16 St,40.732219,-73.981656,30493,Subscriber,1995,male,Millennials,2018
1,309,2018-10-01 00:00:13.578,2018-10-01 00:05:23.231,433.0,old - E 13 St & Avenue A,40.729554,-73.980572,394.0,E 9 St & Avenue C,40.725213,-73.977688,33054,Subscriber,1967,male,Generation X,2018
2,734,2018-10-01 00:00:16.604,2018-10-01 00:12:31.505,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,285.0,Broadway & E 14 St,40.734546,-73.990741,33400,Subscriber,1983,female,Millennials,2018
3,788,2018-10-01 00:00:35.067,2018-10-01 00:13:43.578,417.0,Barclay St & Church St,40.712912,-74.010202,3472.0,W 15 St & 10 Ave,40.742754,-74.007474,31140,Customer,1988,male,Millennials,2018
4,1136,2018-10-01 00:00:38.141,2018-10-01 00:19:34.649,3699.0,W 50 St & 9 Ave,40.763605,-73.989180,495.0,W 47 St & 10 Ave,40.762699,-73.993012,20294,Subscriber,1969,unknown,Generation X,2018

In [61]:
Q4_2018.to_csv(os.path.join("Clean","Bike_Trip_Histories","Bike_Trip_Histories_Q42018.csv"), index = False)

In [46]:
Q4_2018.describe()

,duration (min),start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year
count,4.155517e+06,4.155124e+06,4.155517e+06,4.155517e+06,4.155124e+06,4.155517e+06,4.155517e+06,4.155517e+06,4.155517e+06
mean,8.659813e+02,1.611024e+03,4.073749e+01,-7.398242e+01,1.601132e+03,4.073725e+01,-7.398268e+01,2.778673e+04,1.979378e+03
std,7.631193e+03,1.450591e+03,3.040392e-02,1.893410e-02,1.449776e+03,3.012400e-02,1.898837e-02,6.622144e+03,1.210521e+01
min,6.100000e+01,7.200000e+01,4.064654e+01,-7.402535e+01,7.200000e+01,4.064654e+01,-7.407196e+01,1.452900e+04,1.885000e+03
25%,3.430000e+02,3.820000e+02,4.071817e+01,-7.399480e+01,3.800000e+02,4.071817e+01,-7.399510e+01,2.100500e+04,1.969000e+03
50%,5.700000e+02,5.070000e+02,4.073827e+01,-7.398562e+01,5.050000e+02,4.073818e+01,-7.398602e+01,3.023100e+04,1.982000e+03
75%,9.790000e+02,3.260000e+03,4.075757e+01,-7.397283e+01,3.259000e+03,4.075715e+01,-7.397344e+01,3.346800e+04,1.989000e+03
max,3.168629e+06,3.721000e+03,4.086900e+01,-7.387800e+01,3.721000e+03,4.086900e+01,-7.387800e+01,3.583100e+04,2.002000e+03

In [47]:
appended_data = []
path = os.path.join("Raw","Bike_Trip_Histories","2019Q1")
for WorkingFile in os.listdir(path):
    file = pd.read_csv(os.path.join(path, WorkingFile))
    df = pd.DataFrame(file)
    df['starttime'] = pd.to_datetime(df['starttime'])
    df['stoptime'] = pd.to_datetime(df['stoptime'])
    df.rename(columns = {
    'tripduration':'duration (min)',
    'starttime':'start',
    'stoptime':'stop',}, inplace = True)
    df['gender'] = np.select([df.gender == 1, df.gender == 2], 
                        ['male', 'female'], 
                        default='unknown')
    def func(row):
        if row['birth year'] <= 1945:
            return 'Silent'
        elif row['birth year'] <= 1964:
            return 'Boomers' 
        elif row['birth year'] <=1980:
            return 'Generation X'
        elif row['birth year'] <=1996:
            return 'Millennials'
        else:
            return 'Generation Z'

    df['generation'] = df.apply(func, axis=1)
    
    appended_data.append(df)
Q1_2019 = pd.concat(appended_data)
Q1_2019.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation
0,320,2019-01-01 00:01:47.401,2019-01-01 00:07:07.581,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,male,Generation X
1,316,2019-01-01 00:04:43.736,2019-01-01 00:10:00.608,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,male,Boomers
2,591,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,male,Millennials
3,2719,2019-01-01 00:07:03.545,2019-01-01 00:52:22.650,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,male,Millennials
4,303,2019-01-01 00:07:35.945,2019-01-01 00:12:39.502,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,male,Generation X

In [62]:
Q1_2019['Year'] = Q1_2019['start'].dt.year
Q1_2019.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation,Year
0,320,2019-01-01 00:01:47.401,2019-01-01 00:07:07.581,3160.0,Central Park West & W 76 St,40.778968,-73.973747,3283.0,W 89 St & Columbus Ave,40.788221,-73.970416,15839,Subscriber,1971,male,Generation X,2019
1,316,2019-01-01 00:04:43.736,2019-01-01 00:10:00.608,519.0,Pershing Square North,40.751873,-73.977706,518.0,E 39 St & 2 Ave,40.747804,-73.973442,32723,Subscriber,1964,male,Boomers,2019
2,591,2019-01-01 00:06:03.997,2019-01-01 00:15:55.438,3171.0,Amsterdam Ave & W 82 St,40.785247,-73.976673,3154.0,E 77 St & 3 Ave,40.773142,-73.958562,27451,Subscriber,1987,male,Millennials,2019
3,2719,2019-01-01 00:07:03.545,2019-01-01 00:52:22.650,504.0,1 Ave & E 16 St,40.732219,-73.981656,3709.0,W 15 St & 6 Ave,40.738046,-73.996430,21579,Subscriber,1990,male,Millennials,2019
4,303,2019-01-01 00:07:35.945,2019-01-01 00:12:39.502,229.0,Great Jones St,40.727434,-73.993790,503.0,E 20 St & Park Ave,40.738274,-73.987520,35379,Subscriber,1979,male,Generation X,2019

In [63]:
Q1_2019.to_csv(os.path.join("Clean","Bike_Trip_Histories","Bike_Trip_Histories_Q12019.csv"), index = False)

In [49]:
Q1_2019.describe()

,duration (min),start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year
count,3.238991e+06,3.238954e+06,3.238991e+06,3.238991e+06,3.238954e+06,3.238991e+06,3.238991e+06,3.238991e+06,3.238991e+06
mean,8.280649e+02,1.638180e+03,4.073747e+01,-7.398207e+01,1.627446e+03,4.073730e+01,-7.398228e+01,2.933309e+04,1.979179e+03
std,7.861383e+03,1.461994e+03,3.037575e-02,1.868030e-02,1.460845e+03,3.016513e-02,1.873347e-02,6.423883e+03,1.219773e+01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.401713e+01,7.200000e+01,4.065540e+01,-7.404630e+01,1.452900e+04,1.857000e+03
25%,3.150000e+02,3.830000e+02,4.071871e+01,-7.399456e+01,3.820000e+02,4.071871e+01,-7.399468e+01,2.610000e+04,1.969000e+03
50%,5.220000e+02,5.090000e+02,4.073913e+01,-7.398484e+01,5.090000e+02,4.073913e+01,-7.398518e+01,3.118900e+04,1.982000e+03
75%,8.950000e+02,3.284000e+03,4.075725e+01,-7.397210e+01,3.283000e+03,4.075691e+01,-7.397283e+01,3.434700e+04,1.989000e+03
max,2.969781e+06,3.749000e+03,4.086600e+01,-7.388100e+01,3.749000e+03,4.086600e+01,-7.388100e+01,3.796400e+04,2.003000e+03

In [50]:
appended_data = []
path = os.path.join("Raw","Bike_Trip_Histories","2019Q2")
for WorkingFile in os.listdir(path):
    file = pd.read_csv(os.path.join(path, WorkingFile))
    df = pd.DataFrame(file)
    df['starttime'] = pd.to_datetime(df['starttime'])
    df['stoptime'] = pd.to_datetime(df['stoptime'])
    df.rename(columns = {
    'tripduration':'duration (min)',
    'starttime':'start',
    'stoptime':'stop',}, inplace = True)
    df['gender'] = np.select([df.gender == 1, df.gender == 2], 
                        ['male', 'female'], 
                        default='unknown')
    def func(row):
        if row['birth year'] <= 1945:
            return 'Silent'
        elif row['birth year'] <= 1964:
            return 'Boomers' 
        elif row['birth year'] <=1980:
            return 'Generation X'
        elif row['birth year'] <=1996:
            return 'Millennials'
        else:
            return 'Generation Z'

    df['generation'] = df.apply(func, axis=1)
    
    appended_data.append(df)
Q2_2019 = pd.concat(appended_data)
Q2_2019.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation
0,88,2019-04-01 00:00:14.741,2019-04-01 00:01:42.890,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,male,Millennials
1,443,2019-04-01 00:00:20.827,2019-04-01 00:07:44.292,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,male,Millennials
2,662,2019-04-01 00:00:30.996,2019-04-01 00:11:33.261,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,male,Millennials
3,86,2019-04-01 00:00:30.911,2019-04-01 00:01:56.960,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,male,Millennials
4,136,2019-04-01 00:00:32.593,2019-04-01 00:02:49.391,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,male,Millennials

In [64]:
Q2_2019['Year'] = Q2_2019['start'].dt.year
Q2_2019.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation,Year
0,88,2019-04-01 00:00:14.741,2019-04-01 00:01:42.890,2006,Central Park S & 6 Ave,40.765909,-73.976342,2006,Central Park S & 6 Ave,40.765909,-73.976342,36515,Subscriber,1982,male,Millennials,2019
1,443,2019-04-01 00:00:20.827,2019-04-01 00:07:44.292,254,W 11 St & 6 Ave,40.735324,-73.998004,540,Lexington Ave & E 29 St,40.743116,-73.982154,17406,Subscriber,1983,male,Millennials,2019
2,662,2019-04-01 00:00:30.996,2019-04-01 00:11:33.261,3244,University Pl & E 8 St,40.731437,-73.994903,3244,University Pl & E 8 St,40.731437,-73.994903,20775,Subscriber,1988,male,Millennials,2019
3,86,2019-04-01 00:00:30.911,2019-04-01 00:01:56.960,526,E 33 St & 5 Ave,40.747659,-73.984907,474,5 Ave & E 29 St,40.745168,-73.986831,36270,Subscriber,1982,male,Millennials,2019
4,136,2019-04-01 00:00:32.593,2019-04-01 00:02:49.391,461,E 20 St & 2 Ave,40.735877,-73.982050,504,1 Ave & E 16 St,40.732219,-73.981656,36051,Subscriber,1986,male,Millennials,2019

In [65]:
Q2_2019.to_csv(os.path.join("Clean","Bike_Trip_Histories","Bike_Trip_Histories_Q22019.csv"), index = False)

In [52]:
Q2_2019.describe()

,duration (min),start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year
count,3.690657e+06,3.690657e+06,3.690657e+06,3.690657e+06,3.690657e+06,3.690657e+06,3.690657e+06,3.690657e+06,3.690657e+06
mean,1.063434e+03,1.669991e+03,4.073724e+01,-7.398215e+01,1.661010e+03,4.073701e+01,-7.398239e+01,2.773570e+04,1.979820e+03
std,1.202429e+04,1.472682e+03,3.061332e-02,1.948169e-02,1.472082e+03,3.046929e-02,1.954480e-02,6.565003e+03,1.202992e+01
min,6.100000e+01,7.200000e+01,4.065540e+01,-7.402535e+01,7.200000e+01,4.065540e+01,-7.406860e+01,1.452900e+04,1.863000e+03
25%,3.650000e+02,3.830000e+02,4.071755e+01,-7.399521e+01,3.820000e+02,4.071755e+01,-7.399595e+01,2.127600e+04,1.969000e+03
50%,6.300000e+02,5.160000e+02,4.073805e+01,-7.398516e+01,5.140000e+02,4.073756e+01,-7.398565e+01,2.974700e+04,1.982000e+03
75%,1.123000e+03,3.294000e+03,4.075757e+01,-7.397121e+01,3.293000e+03,4.075725e+01,-7.397152e+01,3.312800e+04,1.990000e+03
max,2.922656e+06,3.790000e+03,4.081439e+01,-7.390774e+01,3.790000e+03,4.081439e+01,-7.390774e+01,3.800200e+04,2.003000e+03

In [66]:
def mapper(month):
    return month.strftime('%b')

Q1_2018['Month'] = Q1_2018['start'].apply(mapper)
Q2_2018['Month'] = Q2_2018['start'].apply(mapper)
Q3_2018['Month'] = Q3_2018['start'].apply(mapper)
Q4_2018['Month'] = Q4_2018['start'].apply(mapper)
Q1_2019['Month'] = Q1_2019['start'].apply(mapper)
Q2_2019['Month'] = Q2_2019['start'].apply(mapper)

In [67]:
Q1_2018['age'] = Q1_2018['Year'] - Q1_2018['birth year']
Q2_2018['age'] = Q2_2018['Year'] - Q2_2018['birth year']
Q3_2018['age'] = Q3_2018['Year'] - Q3_2018['birth year']
Q4_2018['age'] = Q4_2018['Year'] - Q4_2018['birth year']
Q1_2019['age'] = Q1_2019['Year'] - Q1_2019['birth year']
Q2_2019['age'] = Q2_2019['Year'] - Q2_2019['birth year']

In [70]:
Q1_2018['Month-Year']= Q1_2018['Month'].map(str) +'-1-'+ Q1_2018['Year'].map(str)
Q2_2018['Month-Year']= Q2_2018['Month'].map(str) +'-1-'+ Q2_2018['Year'].map(str)
Q3_2018['Month-Year']= Q3_2018['Month'].map(str) +'-1-'+ Q3_2018['Year'].map(str)
Q4_2018['Month-Year']= Q4_2018['Month'].map(str) +'-1-'+ Q4_2018['Year'].map(str)
Q1_2019['Month-Year']= Q1_2019['Month'].map(str) +'-1-'+ Q1_2019['Year'].map(str)
Q2_2019['Month-Year']= Q2_2019['Month'].map(str) +'-1-'+ Q2_2019['Year'].map(str)

In [72]:
Q1_2018.head()

,duration (min),start,stop,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,generation,Year,Month,age,Month-Year
0,970,2018-01-01 13:50:57.434,2018-01-01 14:07:08.186,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,1992,male,Millennials,2018,Jan,26,Jan-1-2018
1,723,2018-01-01 15:33:30.182,2018-01-01 15:45:33.341,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,1969,male,Generation X,2018,Jan,49,Jan-1-2018
2,496,2018-01-01 15:39:18.337,2018-01-01 15:47:35.172,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,1956,male,Boomers,2018,Jan,62,Jan-1-2018
3,306,2018-01-01 15:40:13.372,2018-01-01 15:45:20.191,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,1974,male,Generation X,2018,Jan,44,Jan-1-2018
4,306,2018-01-01 18:14:51.568,2018-01-01 18:19:57.642,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,1992,male,Millennials,2018,Jan,26,Jan-1-2018

In [73]:
Q1_2018.drop(['start', 'stop', 'birth year', 'Month', 'Year'],axis=1, inplace=True)
Q2_2018.drop(['start', 'stop', 'birth year', 'Month', 'Year'],axis=1, inplace=True)
Q3_2018.drop(['start', 'stop', 'birth year', 'Month', 'Year'],axis=1, inplace=True)
Q4_2018.drop(['start', 'stop', 'birth year', 'Month', 'Year'],axis=1, inplace=True)
Q1_2019.drop(['start', 'stop', 'birth year', 'Month', 'Year'],axis=1, inplace=True)
Q2_2019.drop(['start', 'stop', 'birth year', 'Month', 'Year'],axis=1, inplace=True)

In [74]:
Q1_2018.head()

,duration (min),start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,gender,generation,age,Month-Year
0,970,72,W 52 St & 11 Ave,40.767272,-73.993929,505,6 Ave & W 33 St,40.749013,-73.988484,31956,Subscriber,male,Millennials,26,Jan-1-2018
1,723,72,W 52 St & 11 Ave,40.767272,-73.993929,3255,8 Ave & W 31 St,40.750585,-73.994685,32536,Subscriber,male,Generation X,49,Jan-1-2018
2,496,72,W 52 St & 11 Ave,40.767272,-73.993929,525,W 34 St & 11 Ave,40.755942,-74.002116,16069,Subscriber,male,Boomers,62,Jan-1-2018
3,306,72,W 52 St & 11 Ave,40.767272,-73.993929,447,8 Ave & W 52 St,40.763707,-73.985162,31781,Subscriber,male,Generation X,44,Jan-1-2018
4,306,72,W 52 St & 11 Ave,40.767272,-73.993929,3356,Amsterdam Ave & W 66 St,40.774667,-73.984706,30319,Subscriber,male,Millennials,26,Jan-1-2018

In [90]:
grouped_Q12018=Q1_2018.groupby(['Month-Year','start station name','end station name','generation','gender','usertype']).agg({'bikeid':['count'],
                                                        'duration (min)': ['sum', 'mean', 'max', 'min'],
                                                        'age':['mean']}).reset_index()
grouped_Q12018

        Month-Year            start station name  \

0       Feb-1-2018              1 Ave & E 110 St
1       Feb-1-2018              1 Ave & E 110 St
2       Feb-1-2018              1 Ave & E 110 St
3       Feb-1-2018              1 Ave & E 110 St
4       Feb-1-2018              1 Ave & E 110 St
5       Feb-1-2018              1 Ave & E 110 St
6       Feb-1-2018              1 Ave & E 110 St
7       Feb-1-2018              1 Ave & E 110 St
8       Feb-1-2018              1 Ave & E 110 St
9       Feb-1-2018              1 Ave & E 110 St
10      Feb-1-2018              1 Ave & E 110 St
11      Feb-1-2018              1 Ave & E 110 St
12      Feb-1-2018              1 Ave & E 110 St
13      Feb-1-2018              1 Ave & E 110 St
14      Feb-1-2018              1 Ave & E 110 St
15      Feb-1-2018              1 Ave & E 110 St
16      Feb-1-2018              1 Ave & E 110 St
17      Feb-1-2018              1 Ave & E 110 St
18      Feb-1-2018              1 Ave & E 110 St
19      Feb-1-2018              1 Ave & E 110 St
20      Feb-1-2018              1 Ave & E 110 St
21      Feb-1-2018              1 Ave & E 110 St
22      Feb-1-2018              1 Ave & E 110 St
23      Feb-1-2018              1 Ave & E 110 St
24      Feb-1-2018              1 Ave & E 110 St
25      Feb-1-2018              1 Ave & E 110 St
26      Feb-1-2018              1 Ave & E 110 St
27      Feb-1-2018              1 Ave & E 110 St
28      Feb-1-2018              1 Ave & E 110 St
29      Feb-1-2018              1 Ave & E 110 St
...            ...                           ...
842743  Mar-1-2018  Wythe Ave & Metropolitan Ave
842744  Mar-1-2018  Wythe Ave & Metropolitan Ave
842745  Mar-1-2018  Wythe Ave & Metropolitan Ave
842746  Mar-1-2018  Wythe Ave & Metropolitan Ave
842747  Mar-1-2018  Wythe Ave & Metropolitan Ave
842748  Mar-1-2018  Wythe Ave & Metropolitan Ave
842749  Mar-1-2018  Wythe Ave & Metropolitan Ave
842750  Mar-1-2018  Wythe Ave & Metropolitan Ave
842751  Mar-1-2018  Wythe Ave & Metropolitan Ave
842752  Mar-1-2018  Wythe Ave & Metropolitan Ave
842753  Mar-1-2018  Wythe Ave & Metropolitan Ave
842754  Mar-1-2018  Wythe Ave & Metropolitan Ave
842755  Mar-1-2018  Wythe Ave & Metropolitan Ave
842756  Mar-1-2018  Wythe Ave & Metropolitan Ave
842757  Mar-1-2018  Wythe Ave & Metropolitan Ave
842758  Mar-1-2018  Wythe Ave & Metropolitan Ave
842759  Mar-1-2018  Wythe Ave & Metropolitan Ave
842760  Mar-1-2018  Wythe Ave & Metropolitan Ave
842761  Mar-1-2018  Wythe Ave & Metropolitan Ave
842762  Mar-1-2018  Wythe Ave & Metropolitan Ave
842763  Mar-1-2018  Wythe Ave & Metropolitan Ave
842764  Mar-1-2018  Wythe Ave & Metropolitan Ave
842765  Mar-1-2018  Wythe Ave & Metropolitan Ave
842766  Mar-1-2018  Wythe Ave & Metropolitan Ave
842767  Mar-1-2018  Wythe Ave & Metropolitan Ave
842768  Mar-1-2018  Wythe Ave & Metropolitan Ave
842769  Mar-1-2018  Wythe Ave & Metropolitan Ave
842770  Mar-1-2018  Wythe Ave & Metropolitan Ave
842771  Mar-1-2018  Wythe Ave & Metropolitan Ave
842772  Mar-1-2018  Wythe Ave & Metropolitan Ave

                           end station name    generation   gender  \

0                          1 Ave & E 110 St  Generation X     male
1                          1 Ave & E 110 St  Generation X  unknown
2                          1 Ave & E 110 St   Millennials     male
3                           1 Ave & E 68 St   Millennials   female
4                           1 Ave & E 78 St  Generation X     male
5                          2 Ave & E 104 St  Generation X     male
6                          2 Ave & E 104 St  Generation X  unknown
7                          2 Ave & E 104 St   Millennials     male
8                          2 Ave & E 122 St  Generation X   female
9                          2 Ave & E 122 St  Generation X     male
10                         2 Ave & E 122 St   Millennials   female
11                          2 Ave & E 31 St   Millennials     male
12                          2 Ave & E 96 St       Boomers   female
13                          2 Ave & E 96 St       Boomers     male
14                          2 Ave & E 96 St  Generation X     male
15                          2 Ave & E 96 St  Generation X  unknown
16                          2 Ave & E 96 St   Millennials   female
17                          2 Ave & E 96 St   Millennials     male
18                          2 Ave & E 99 St  Generation X     male
19                         3 Ave & E 112 St       Boomers     male
20                         3 Ave & E 112 St  Generation X   female
21                          3 Ave & E 62 St   Millennials     male
22                          3 Ave & E 71 St  Generation X     male
23                         5 Ave & E 103 St       Boomers   female
24                         5 Ave & E 103 St  Generation X  unknown
25                          5 Ave & E 63 St   Millennials     male
26                          5 Ave & E 78 St   Millennials     male
27                          9 Ave & W 28 St  Generation X     male
28      Adam Clayton Powell Blvd & W 118 St  Generation X   female
29      Adam Clayton Powell Blvd & W 118 St  Generation X     male
...                                     ...           ...      ...
842743                      W 21 St & 6 Ave  Generation X  unknown
842744                      W 26 St & 8 Ave  Generation X     male
842745                      W 26 St & 8 Ave   Millennials   female
842746                      W 27 St & 7 Ave       Boomers     male
842747                      W 27 St & 7 Ave   Millennials   female
842748                      W 27 St & 7 Ave   Millennials     male
842749                   W 92 St & Broadway  Generation X     male
842750          Washington Ave & Greene Ave  Generation X  unknown
842751          Washington Ave & Greene Ave   Millennials   female
842752          Washington Ave & Greene Ave   Millennials     male
842753            Washington Ave & Park Ave  Generation X     male
842754            Washington Ave & Park Ave   Millennials   female
842755                      Washington Park  Generation X   female
842756                      Washington Park   Millennials   female
842757                      Washington Park   Millennials     male
842758             Washington Pl & Broadway  Generation X  unknown
842759      West Drive & Prospect Park West   Millennials     male
842760                 William St & Pine St  Generation X   female
842761                 William St & Pine St   Millennials     male
842762             Willoughby Ave & Hall St  Generation X     male
842763             Willoughby Ave & Hall St   Millennials   female
842764             Willoughby Ave & Hall St   Millennials     male
842765             Willoughby St & Fleet St  Generation X     male
842766         Wythe Ave & Metropolitan Ave       Boomers   female
842767         Wythe Ave & Metropolitan Ave       Boomers     male
842768         Wythe Ave & Metropolitan Ave  Generation X   female
842769         Wythe Ave & Metropolitan Ave  Generation X     male
842770         Wythe Ave & Metropolitan Ave  Generation X  unknown
842771         Wythe Ave & Metropolitan Ave   Millennials   female
842772         Wythe Ave & Metropolitan Ave   Millennials     male

          usertype bikeid duration (min)                                 age
                    count            sum         mean   max   min       mean
0       Subscriber      1           1289  1289.000000  1289  1289  45.000000
1         Customer      2          14001  7000.500000  7118  6883  49.000000
2       Subscriber      1            321   321.000000   321   321  28.000000
3       Subscriber      1           1305  1305.000000  1305  1305  26.000000
4       Subscriber      9           6665   740.555556   819   677  38.000000
5       Subscriber      2            694   347.000000   395   299  47.500000
6         Customer      1            471   471.000000   471   471  49.000000
7       Subscriber      2            566   283.000000   287   279  30.500000
8       Subscriber      6           2132   355.333333   399   285  45.000000
9       Subscriber      1            437   437.000000   437   437  38.000000
10      Subscriber      1            426   426.000000   426   426  30.000000
11      Subscriber      5           7942  1588.400000  1718  1496  32.000000
12      Subscriber      1            653   653.000000   653   653  54.000000
13      Subscriber      1            558   558.000000   558   558  63.000000
14      Subscriber     22           8328   378.545455   454   325  40.227273
15      Subscriber      1            320   320.000000   320   320  49.000000
16      Subscriber      4           2446   611.500000  1107   439  32.750000
17      Subscriber     18           6564   364.666667   631   262  33.222222
18      Subscriber      3            885   295.000000   320   250  43.666667
19      Subscriber      1            706   706.000000   706   706  56.000000
20      Subscriber      1            200   200.000000   200   200  53.000000
21      Subscriber      2           2381  1190.500000  1235  1146  35.000000
22      Subscriber      1            725   725.000000   725   725  45.000000
23      Subscriber      1           1092  1092.000000  1092  1092  54.000000
24        Customer      2           2034  1017.000000  1028  1006  49.000000
25      Subscriber      1           1400  1400.000000  1400  1400  33.000000
26      Subscriber      1            878   878.000000   878   878  36.000000
27      Subscriber      3           7292  2430.666667  2624  2251  44.000000
28        Customer      2           2188  1094.000000  1199   989  44.000000
29      Subscriber      2           2630  1315.000000  1449  1181  45.000000
...            ...    ...            ...          ...   ...   ...        ...
842743    Customer      2           4664  2332.000000  2335  2329  49.000000
842744  Subscriber      3           5317  1772.333333  1896  1696  47.000000
842745  Subscriber      1           2230  2230.000000  2230  2230  28.000000
842746  Subscriber      2           3895  1947.500000  2059  1836  56.000000
842747  Subscriber      1           2446  2446.000000  2446  2446  29.000000
842748  Subscriber      1           2598  2598.000000  2598  2598  30.000000
842749  Subscriber      1           2929  2929.000000  2929  2929  52.000000
842750    Customer      2           2543  1271.500000  1274  1269  49.000000
842751  Subscriber      1           1178  1178.000000  1178  1178  34.000000
842752  Subscriber      1           1057  1057.000000  1057  1057  25.000000
842753  Subscriber      1            698   698.000000   698   698  52.000000
842754  Subscriber      1            733   733.000000   733   733  27.000000
842755  Subscriber      1           1160  1160.000000  1160  1160  45.000000
842756  Subscriber      1           1259  1259.000000  1259  1259  34.000000
842757  Subscriber      1           1261  1261.000000  1261  1261  34.000000
842758    Customer      1           2110  2110.000000  2110  2110  49.000000
842759  Subscriber      1           2050  2050.000000  2050  2050  31.000000
842760  Subscriber      1           2078  2078.000000  2078  2078  42.000000
842761  Subscriber      1           1595  1595.000000  1595  1595  35.000000
842762  Subscriber      2           1851   925.500000  1007   844  41.500000
842763  Subscriber      1            789   789.000000   789   789  30.000000
842764  Subscriber      1            745   745.000000   745   745  27.000000
842765  Subscriber      1           1230  1230.000000  1230  1230  42.000000
842766  Subscriber      1            822   822.000000   822   822  58.000000
842767  Subscriber      6           7661  1276.833333  1858   648  59.000000
842768  Subscriber      1            584   584.000000   584   584  44.000000
842769  Subscriber     12          13690  1140.833333  2770    67  45.000000
842770    Customer     14          22787  1627.642857  3816    63  49.000000
842771  Subscriber      4           2427   606.750000  1949    87  34.250000
842772  Subscriber      4           5217  1304.250000  2338   167  31.000000

[842773 rows x 12 columns]

In [91]:
grouped_Q12018.columns = grouped_Q12018.columns.map('_'.join)
grouped_Q12018

,Month-Year_,start station name_,end station name_,generation_,gender_,usertype_,bikeid_count,duration (min)_sum,duration (min)_mean,duration (min)_max,duration (min)_min,age_mean
0,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,male,Subscriber,1,1289,1289.000000,1289,1289,45.000000
1,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Customer,2,14001,7000.500000,7118,6883,49.000000
2,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Subscriber,1,321,321.000000,321,321,28.000000
3,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 68 St,Millennials,female,Subscriber,1,1305,1305.000000,1305,1305,26.000000
4,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Generation X,male,Subscriber,9,6665,740.555556,819,677,38.000000
5,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,male,Subscriber,2,694,347.000000,395,299,47.500000
6,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,unknown,Customer,1,471,471.000000,471,471,49.000000
7,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Subscriber,2,566,283.000000,287,279,30.500000
8,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,female,Subscriber,6,2132,355.333333,399,285,45.000000
9,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,male,Subscriber,1,437,437.000000,437,437,38.000000
10,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Millennials,female,Subscriber,1,426,426.000000,426,426,30.000000
11,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 31 St,Millennials,male,Subscriber,5,7942,1588.400000,1718,1496,32.000000
12,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,female,Subscriber,1,653,653.000000,653,653,54.000000
13,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,male,Subscriber,1,558,558.000000,558,558,63.000000
14,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,male,Subscriber,22,8328,378.545455,454,325,40.227273
15,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,unknown,Subscriber,1,320,320.000000,320,320,49.000000
16,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,female,Subscriber,4,2446,611.500000,1107,439,32.750000
17,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,male,Subscriber,18,6564,364.666667,631,262,33.222222
18,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 99 St,Generation X,male,Subscriber,3,885,295.000000,320,250,43.666667
19,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 112 St,Boomers,male,Subscriber,1,706,706.000000,706,706,56.000000
20,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 112 St,Generation X,female,Subscriber,1,200,200.000000,200,200,53.000000
21,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 62 St,Millennials,male,Subscriber,2,2381,1190.500000,1235,1146,35.000000
22,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 71 St,Generation X,male,Subscriber,1,725,725.000000,725,725,45.000000
23,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 103 St,Boomers,female,Subscriber,1,1092,1092.000000,1092,1092,54.000000
24,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 103 St,Generation X,unknown,Customer,2,2034,1017.000000,1028,1006,49.000000
25,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 63 St,Millennials,male,Subscriber,1,1400,1400.000000,1400,1400,33.000000
26,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 78 St,Millennials,male,Subscriber,1,878,878.000000,878,878,36.000000
27,Feb-1-2018,1 Ave & E 110 St,9 Ave & W 28 St,Generation X,male,Subscriber,3,7292,2430.666667,2624,2251,44.000000
28,Feb-1-2018,1 Ave & E 110 St,Adam Clayton Powell Blvd & W 118 St,Generation X,female,Customer,2,2188,1094.000000,1199,989,44.000000
29,Feb-1-2018,1 Ave & E 110 St,Adam Clayton Powell Blvd & W 118 St,Generation X,male,Subscriber,2,2630,1315.000000,1449,1181,45.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
842743,Mar-1-2018,Wythe Ave & Metropolitan Ave,W 21 St & 6 Ave,Generation X,unknown,Customer,2,4664,2332.000000,2335,2329,49.000000
842744,Mar-1-2018,Wythe Ave & Metropolitan Ave,W 26 St & 8 Ave,Generation X,male,Subscriber,3,5317,1772.333333,1896,1696,47.000000
842745,Mar-1-2018,Wythe Ave & Metropolitan Ave,W 26 St & 8 Ave,Millennials,female,Subscriber,1,2230,2230.000000,2230,2230,28.000000
842746,Mar-1-2018,Wythe Ave & Metropolitan Ave,W 27 St & 7 Ave,Boomers,male,Subscriber,2,3895,1947.500000,2059,1836,56.000000
842747,Mar-1-2018,Wythe Ave & Metropolitan Ave,W 27 St & 7 Ave,Millennials,female,Subscriber,1,2446,2446.000000,2446,2446,29.000000
842748,Mar-1-2018,Wythe Ave & Metropolitan Ave,W 27 St & 7 Ave,Millennials,male,Subscriber,1,2598,2598.000000,2598,2598,30.000000
842749,Mar-1-2018,Wythe Ave & Metropolitan Ave,W 92 St & Broadway,Generation X,male,Subscriber,1,2929,2929.000000,2929,2929,52.000000
842750,Mar-1-2018,Wythe Ave & Metropolitan Ave,Washington Ave & Greene Ave,Generation X,unknown,Customer,2,2543,1271.500000,1274,1269,49.000000
842751,Mar-1-2018,Wythe Ave & Metropolitan Ave,Washington Ave & Greene Ave,Millennials,female,Subscriber,1,1178,1178.000000,1178,1178,34.000000
842752,Mar-1-2018,Wythe Ave & Metropolitan Ave,Washington Ave & Greene Ave,Millennials,male,Subscriber,1,1057,1057.000000,1057,1057,25.000000
842753,Mar-1-2018,Wythe Ave & Metropolitan Ave,Washington Ave & Park Ave,Generation X,male,Subscriber,1,698,698.000000,698,698,52.000000
842754,Mar-1-2018,Wythe Ave & Metropolitan Ave,Washington Ave & Park Ave,Millennials,female,Subscriber,1,733,733.000000,733,733,27.000000
842755,Mar-1-2018,Wythe Ave & Metropolitan Ave,Washington Park,Generation X,female,Subscriber,1,1160,1160.000000,1160,1160,45.000000
842756,Mar-1-2018,Wythe Ave & Metropolitan Ave,Washington Park,Millennials,female,Subscriber,1,1259,1259.000000,1259,1259,34.000000
842757,Mar-1-2018,Wythe Ave & Metropolitan Ave,Washington Park,Millennials,male,Subscriber,1,1261,1261.000000,1261,1261,34.000000
842758,Mar-1-2018,Wythe Ave & Metropolitan Ave,Washington Pl & Broadway,Generation X,unknown,Customer,1,2110,2110.000000,2110,2110,49.000000
842759,Mar-1-2018,Wythe Ave & Metropolitan Ave,West Drive & Prospect Park West,Millennials,male,Subscriber,1,2050,2050.000000,2050,2050,31.000000
842760,Mar-1-2018,Wythe Ave & Metropolitan Ave,William St & Pine St,Generation X,female,Subscriber,1,2078,2078.000000,2078,2078,42.000000
842761,Mar-1-2018,Wythe Ave & Metropolitan Ave,William St & Pine St,Millennials,male,Subscriber,1,1595,1595.000000,1595,1595,35.000000
842762,Mar-1-2018,Wythe Ave & Metropolitan Ave,Willoughby Ave & Hall St,Generation X,male,Subscriber,2,1851,925.500000,1007,844,41.500000
842763,Mar-1-2018,Wythe Ave & Metropolitan Ave,Willoughby Ave & Hall St,Millennials,female,Subscriber,1,789,789.000000,789,789,30.000000
842764,Mar-1-2018,Wythe Ave & Metropolitan Ave,Willoughby Ave & Hall St,Millennials,male,Subscriber,1,745,745.000000,745,745,27.000000
842765,Mar-1-2018,Wythe Ave & Metropolitan Ave,Willoughby St & Fleet St,Generation X,male,Subscriber,1,1230,1230.000000,1230,1230,42.000000
842766,Mar-1-2018,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Boomers,female,Subscriber,1,822,822.000000,822,822,58.000000
842767,Mar-1-2018,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Boomers,male,Subscriber,6,7661,1276.833333,1858,648,59.000000
842768,Mar-1-2018,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Generation X,female,Subscriber,1,584,584.000000,584,584,44.000000
842769,Mar-1-2018,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Generation X,male,Subscriber,12,13690,1140.833333,2770,67,45.000000
842770,Mar-1-2018,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Generation X,unknown,Customer,14,22787,1627.642857,3816,63,49.000000
842771,Mar-1-2018,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Millennials,female,Subscriber,4,2427,606.750000,1949,87,34.250000
842772,Mar-1-2018,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Millennials,male,Subscriber,4,5217,1304.250000,2338,167,31.000000

In [92]:
grouped_Q22018=Q2_2018.groupby(['Month-Year','start station name','end station name','generation','gender','usertype']).agg({'bikeid':['count'],
                                                        'duration (min)': ['sum', 'mean', 'max', 'min'],
                                                        'age':['mean']}).reset_index()
grouped_Q22018.columns = grouped_Q22018.columns.map('_'.join)
grouped_Q22018

,Month-Year_,start station name_,end station name_,generation_,gender_,usertype_,bikeid_count,duration (min)_sum,duration (min)_mean,duration (min)_max,duration (min)_min,age_mean
0,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,female,Customer,1,1023,1023.000000,1023,1023,41.000000
1,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,female,Subscriber,4,4362,1090.500000,2418,147,43.750000
2,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Customer,3,27201,9067.000000,24879,1142,49.000000
3,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Subscriber,2,220,110.000000,156,64,49.000000
4,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation Z,male,Customer,1,1826,1826.000000,1826,1826,21.000000
5,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,female,Subscriber,1,72,72.000000,72,72,31.000000
6,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Customer,1,1374,1374.000000,1374,1374,25.000000
7,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Subscriber,12,13621,1135.083333,3376,66,31.166667
8,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 16 St,Millennials,female,Subscriber,1,2355,2355.000000,2355,2355,36.000000
9,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 16 St,Millennials,male,Subscriber,1,2026,2026.000000,2026,2026,25.000000
10,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 62 St,Millennials,male,Customer,1,1527,1527.000000,1527,1527,25.000000
11,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Generation X,male,Subscriber,9,8935,992.777778,3155,647,38.000000
12,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Generation X,unknown,Subscriber,1,1175,1175.000000,1175,1175,49.000000
13,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Millennials,female,Subscriber,2,1651,825.500000,841,810,26.000000
14,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Millennials,male,Subscriber,1,688,688.000000,688,688,37.000000
15,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 94 St,Boomers,male,Subscriber,1,440,440.000000,440,440,60.000000
16,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 94 St,Generation X,male,Subscriber,1,453,453.000000,453,453,39.000000
17,Apr-1-2018,1 Ave & E 110 St,1 Ave & E 94 St,Millennials,male,Subscriber,1,317,317.000000,317,317,28.000000
18,Apr-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,male,Subscriber,1,410,410.000000,410,410,40.000000
19,Apr-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,female,Subscriber,3,3073,1024.333333,1719,356,33.000000
20,Apr-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Customer,1,424,424.000000,424,424,22.000000
21,Apr-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Subscriber,3,2146,715.333333,1723,184,33.666667
22,Apr-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,female,Subscriber,4,1484,371.000000,388,361,45.000000
23,Apr-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,male,Subscriber,1,587,587.000000,587,587,45.000000
24,Apr-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Millennials,female,Subscriber,9,3082,342.444444,371,319,29.000000
25,Apr-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Millennials,male,Subscriber,5,1603,320.600000,402,251,29.400000
26,Apr-1-2018,1 Ave & E 110 St,2 Ave & E 31 St,Generation X,male,Subscriber,1,1684,1684.000000,1684,1684,45.000000
27,Apr-1-2018,1 Ave & E 110 St,2 Ave & E 31 St,Millennials,male,Subscriber,7,10959,1565.571429,1890,1407,31.714286
28,Apr-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,female,Subscriber,5,3265,653.000000,719,606,54.000000
29,Apr-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,male,Subscriber,4,1931,482.750000,558,307,57.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1555523,May-1-2018,Yankee Ferry Terminal,Soissons Landing,Millennials,male,Subscriber,35,35356,1010.171429,3634,223,30.742857
1555524,May-1-2018,Yankee Ferry Terminal,Soissons Landing,Millennials,unknown,Customer,1,3155,3155.000000,3155,3155,23.000000
1555525,May-1-2018,Yankee Ferry Terminal,Soissons Landing,Silent,male,Subscriber,1,589,589.000000,589,589,132.000000
1555526,May-1-2018,Yankee Ferry Terminal,South St & Gouverneur Ln,Boomers,male,Subscriber,1,2206,2206.000000,2206,2206,60.000000
1555527,May-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Boomers,male,Subscriber,1,1610,1610.000000,1610,1610,61.000000
1555528,May-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Generation X,unknown,Customer,1,1441,1441.000000,1441,1441,49.000000
1555529,May-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Generation Z,male,Customer,1,1581,1581.000000,1581,1581,21.000000
1555530,May-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,female,Customer,1,1446,1446.000000,1446,1446,23.000000
1555531,May-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,female,Subscriber,1,1390,1390.000000,1390,1390,27.000000
1555532,May-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,male,Subscriber,2,3458,1729.000000,2056,1402,30.500000
1555533,May-1-2018,Yankee Ferry Terminal,W 15 St & 10 Ave,Generation X,male,Subscriber,1,5400,5400.000000,5400,5400,41.000000
1555534,May-1-2018,Yankee Ferry Terminal,Water - Whitehall Plaza,Generation X,female,Subscriber,1,3025,3025.000000,3025,3025,53.000000
1555535,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,female,Customer,1,1494,1494.000000,1494,1494,58.000000
1555536,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,female,Subscriber,5,8803,1760.600000,2873,805,62.200000
1555537,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,male,Customer,2,3537,1768.500000,2246,1291,59.000000
1555538,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,male,Subscriber,9,18009,2001.000000,3264,1159,58.777778
1555539,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,female,Customer,8,23855,2981.875000,7398,829,44.250000
1555540,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,female,Subscriber,28,65767,2348.821429,7471,416,44.178571
1555541,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,male,Customer,5,7619,1523.800000,2227,803,44.000000
1555542,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,male,Subscriber,39,80724,2069.846154,6125,114,44.743590
1555543,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,unknown,Customer,117,231204,1976.102564,12922,83,49.000000
1555544,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,unknown,Subscriber,6,10916,1819.333333,3155,1125,49.000000
1555545,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,female,Customer,5,9690,1938.000000,3573,1442,18.000000
1555546,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,female,Subscriber,3,3907,1302.333333,3351,89,18.666667
1555547,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,male,Customer,2,4145,2072.500000,2266,1879,20.500000
1555548,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,female,Customer,11,15087,1371.545455,1968,857,27.818182
1555549,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,female,Subscriber,32,52544,1642.000000,3949,156,29.687500
1555550,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,male,Customer,14,27775,1983.928571,3814,137,29.000000
1555551,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,male,Subscriber,37,65353,1766.297297,5864,74,30.594595
1555552,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,unknown,Customer,1,1536,1536.000000,1536,1536,23.000000

In [93]:
grouped_Q32018=Q3_2018.groupby(['Month-Year','start station name','end station name','generation','gender','usertype']).agg({'bikeid':['count'],
                                                        'duration (min)': ['sum', 'mean', 'max', 'min'],
                                                        'age':['mean']}).reset_index()
grouped_Q32018.columns = grouped_Q32018.columns.map('_'.join)
grouped_Q32018

,Month-Year_,start station name_,end station name_,generation_,gender_,usertype_,bikeid_count,duration (min)_sum,duration (min)_mean,duration (min)_max,duration (min)_min,age_mean
0,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Boomers,male,Subscriber,10,9045,904.500000,2949,246,58.000000
1,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,female,Subscriber,9,6227,691.888889,926,63,41.222222
2,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,male,Subscriber,3,2569,856.333333,1024,535,47.333333
3,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Customer,5,21017,4203.400000,5366,2492,49.000000
4,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Subscriber,11,39129,3557.181818,5575,153,49.000000
5,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation Z,male,Subscriber,2,2105,1052.500000,1975,130,20.000000
6,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,female,Customer,2,14497,7248.500000,14107,390,23.500000
7,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,female,Subscriber,1,116,116.000000,116,116,36.000000
8,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Customer,2,9503,4751.500000,4754,4749,28.500000
9,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Subscriber,21,26684,1270.666667,6816,173,31.095238
10,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 16 St,Boomers,male,Subscriber,1,2192,2192.000000,2192,2192,59.000000
11,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 16 St,Millennials,female,Subscriber,1,2014,2014.000000,2014,2014,36.000000
12,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 44 St,Generation X,male,Subscriber,1,1615,1615.000000,1615,1615,46.000000
13,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 62 St,Boomers,male,Subscriber,1,1816,1816.000000,1816,1816,60.000000
14,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 62 St,Generation X,male,Subscriber,1,1801,1801.000000,1801,1801,50.000000
15,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 62 St,Generation X,unknown,Subscriber,1,1781,1781.000000,1781,1781,49.000000
16,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 62 St,Millennials,male,Subscriber,3,3533,1177.666667,1238,1086,27.666667
17,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 68 St,Millennials,male,Subscriber,1,931,931.000000,931,931,34.000000
18,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Boomers,female,Subscriber,10,10412,1041.200000,1618,836,57.000000
19,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Generation X,male,Subscriber,1,808,808.000000,808,808,50.000000
20,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Millennials,male,Customer,1,744,744.000000,744,744,27.000000
21,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 94 St,Boomers,male,Subscriber,3,1341,447.000000,458,437,60.000000
22,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 94 St,Generation X,male,Subscriber,5,2555,511.000000,579,446,41.000000
23,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 94 St,Millennials,male,Customer,1,302,302.000000,302,302,22.000000
24,Aug-1-2018,1 Ave & E 110 St,1 Ave & E 94 St,Millennials,male,Subscriber,2,995,497.500000,738,257,29.500000
25,Aug-1-2018,1 Ave & E 110 St,11 Ave & W 59 St,Boomers,male,Subscriber,1,2527,2527.000000,2527,2527,57.000000
26,Aug-1-2018,1 Ave & E 110 St,19 St & 24 Ave,Boomers,male,Subscriber,1,1942,1942.000000,1942,1942,57.000000
27,Aug-1-2018,1 Ave & E 110 St,19 St & 24 Ave,Millennials,male,Subscriber,1,1719,1719.000000,1719,1719,29.000000
28,Aug-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,female,Subscriber,1,537,537.000000,537,537,36.000000
29,Aug-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Subscriber,2,550,275.000000,305,245,29.500000
...,...,...,...,...,...,...,...,...,...,...,...,...
1733205,Sep-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Generation X,unknown,Customer,10,30643,3064.300000,6587,1249,49.000000
1733206,Sep-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,female,Customer,3,5183,1727.666667,1859,1552,30.000000
1733207,Sep-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,female,Subscriber,1,2880,2880.000000,2880,2880,33.000000
1733208,Sep-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,male,Customer,1,1927,1927.000000,1927,1927,35.000000
1733209,Sep-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,male,Subscriber,3,5394,1798.000000,2514,1180,33.000000
1733210,Sep-1-2018,Yankee Ferry Terminal,Water - Whitehall Plaza,Generation X,male,Subscriber,1,2017,2017.000000,2017,2017,53.000000
1733211,Sep-1-2018,Yankee Ferry Terminal,West Thames St,Generation X,male,Customer,1,8435,8435.000000,8435,8435,43.000000
1733212,Sep-1-2018,Yankee Ferry Terminal,West Thames St,Millennials,female,Customer,1,8341,8341.000000,8341,8341,35.000000
1733213,Sep-1-2018,Yankee Ferry Terminal,William St & Pine St,Generation X,female,Subscriber,1,2628,2628.000000,2628,2628,49.000000
1733214,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,female,Customer,11,20972,1906.545455,5011,343,57.545455
1733215,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,female,Subscriber,27,53443,1979.370370,4088,152,59.777778
1733216,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,male,Customer,8,12673,1584.125000,3758,197,58.750000
1733217,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,male,Subscriber,46,82413,1791.586957,3732,114,59.891304
1733218,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,unknown,Customer,1,1010,1010.000000,1010,1010,61.000000
1733219,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,female,Customer,12,40461,3371.750000,12022,263,43.416667
1733220,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,female,Subscriber,53,204424,3857.056604,83631,269,45.547170
1733221,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,male,Customer,14,32351,2310.785714,8759,741,42.285714
1733222,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,male,Subscriber,102,235565,2309.460784,21082,93,44.431373
1733223,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,unknown,Customer,219,650321,2969.502283,20922,62,48.972603
1733224,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,unknown,Subscriber,7,7857,1122.428571,2407,75,49.000000
1733225,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,female,Customer,2,1806,903.000000,1553,253,17.000000
1733226,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,female,Subscriber,1,1900,1900.000000,1900,1900,20.000000
1733227,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,male,Customer,8,9204,1150.500000,1734,206,18.000000
1733228,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,male,Subscriber,4,4648,1162.000000,1832,112,18.250000
1733229,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,female,Customer,83,232096,2796.337349,69679,61,27.903614
1733230,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,female,Subscriber,77,135955,1765.649351,6442,77,30.987013
1733231,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,male,Customer,51,118263,2318.882353,12796,366,29.196078
1733232,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,male,Subscriber,115,186330,1620.260870,6467,68,30.791304
1733233,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,unknown,Subscriber,2,4477,2238.500000,2869,1608,28.000000
1733234,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Silent,female,Subscriber,4,3078,769.500000,1323,157,74.000000

In [94]:
grouped_Q42018=Q4_2018.groupby(['Month-Year','start station name','end station name','generation','gender','usertype']).agg({'bikeid':['count'],
                                                        'duration (min)': ['sum', 'mean', 'max', 'min'],
                                                        'age':['mean']}).reset_index()
grouped_Q42018.columns = grouped_Q42018.columns.map('_'.join)
grouped_Q42018

,Month-Year_,start station name_,end station name_,generation_,gender_,usertype_,bikeid_count,duration (min)_sum,duration (min)_mean,duration (min)_max,duration (min)_min,age_mean
0,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Boomers,male,Subscriber,2,2141,1070.500000,2057,84,62.000000
1,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,female,Subscriber,1,1449,1449.000000,1449,1449,40.000000
2,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,male,Subscriber,3,2287,762.333333,1249,110,44.666667
3,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Customer,1,1325,1325.000000,1325,1325,49.000000
4,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation Z,male,Subscriber,1,502,502.000000,502,502,18.000000
5,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,female,Subscriber,2,3129,1564.500000,1799,1330,27.000000
6,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Subscriber,3,2840,946.666667,1974,196,32.333333
7,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 62 St,Generation X,male,Subscriber,1,2139,2139.000000,2139,2139,50.000000
8,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 62 St,Millennials,male,Customer,1,1175,1175.000000,1175,1175,26.000000
9,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 62 St,Millennials,male,Subscriber,1,1696,1696.000000,1696,1696,23.000000
10,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 68 St,Millennials,male,Subscriber,2,3854,1927.000000,2160,1694,37.000000
11,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Boomers,male,Subscriber,1,857,857.000000,857,857,61.000000
12,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Generation Z,male,Subscriber,1,718,718.000000,718,718,21.000000
13,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Millennials,male,Subscriber,1,719,719.000000,719,719,37.000000
14,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 94 St,Boomers,male,Subscriber,1,526,526.000000,526,526,54.000000
15,Dec-1-2018,1 Ave & E 110 St,1 Ave & E 94 St,Millennials,male,Subscriber,4,1693,423.250000,589,341,31.000000
16,Dec-1-2018,1 Ave & E 110 St,11 Ave & W 41 St,Generation X,male,Subscriber,1,2280,2280.000000,2280,2280,47.000000
17,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,male,Subscriber,1,324,324.000000,324,324,45.000000
18,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,unknown,Subscriber,1,439,439.000000,439,439,49.000000
19,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation Z,male,Subscriber,1,305,305.000000,305,305,18.000000
20,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Customer,1,633,633.000000,633,633,25.000000
21,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Subscriber,5,1370,274.000000,367,230,31.600000
22,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Boomers,male,Subscriber,2,549,274.500000,294,255,59.000000
23,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,unknown,Customer,1,1000,1000.000000,1000,1000,49.000000
24,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Millennials,male,Subscriber,2,724,362.000000,469,255,32.500000
25,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 31 St,Millennials,male,Subscriber,9,13931,1547.888889,1663,1205,32.000000
26,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,female,Subscriber,3,2017,672.333333,684,655,54.000000
27,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,male,Subscriber,9,3885,431.666667,499,345,55.888889
28,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,female,Subscriber,1,398,398.000000,398,398,49.000000
29,Dec-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,male,Subscriber,60,23740,395.666667,522,296,42.100000
...,...,...,...,...,...,...,...,...,...,...,...,...
1298300,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & 6 Ave,Generation X,male,Subscriber,2,1200,600.000000,607,593,51.000000
1298301,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & 6 Ave,Millennials,male,Customer,1,874,874.000000,874,874,25.000000
1298302,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & 6 Ave,Millennials,male,Subscriber,4,2960,740.000000,1106,582,27.250000
1298303,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & Broadway,Generation Z,female,Subscriber,5,2432,486.400000,540,439,20.800000
1298304,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & Broadway,Generation Z,male,Subscriber,13,6097,469.000000,564,384,20.384615
1298305,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & Broadway,Generation Z,unknown,Subscriber,1,483,483.000000,483,483,20.000000
1298306,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & Broadway,Millennials,female,Customer,1,557,557.000000,557,557,23.000000
1298307,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & Broadway,Millennials,female,Subscriber,1,548,548.000000,548,548,22.000000
1298308,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & Broadway,Millennials,male,Subscriber,6,3559,593.166667,789,459,27.000000
1298309,Oct-1-2018,old - E 13 St & Avenue A,Washington St & Gansevoort St,Generation X,female,Subscriber,1,1057,1057.000000,1057,1057,41.000000
1298310,Oct-1-2018,old - E 13 St & Avenue A,Washington St & Gansevoort St,Generation X,male,Subscriber,3,2438,812.666667,1050,659,44.000000
1298311,Oct-1-2018,old - E 13 St & Avenue A,Washington St & Gansevoort St,Generation X,unknown,Customer,1,1372,1372.000000,1372,1372,49.000000
1298312,Oct-1-2018,old - E 13 St & Avenue A,Washington St & Gansevoort St,Millennials,male,Subscriber,1,784,784.000000,784,784,30.000000
1298313,Oct-1-2018,old - E 13 St & Avenue A,Water - Whitehall Plaza,Generation X,male,Subscriber,3,3872,1290.666667,1324,1236,51.000000
1298314,Oct-1-2018,old - E 13 St & Avenue A,Watts St & Greenwich St,Generation X,female,Subscriber,1,2321,2321.000000,2321,2321,41.000000
1298315,Oct-1-2018,old - E 13 St & Avenue A,Watts St & Greenwich St,Millennials,female,Subscriber,1,1311,1311.000000,1311,1311,29.000000
1298316,Oct-1-2018,old - E 13 St & Avenue A,Watts St & Greenwich St,Millennials,male,Subscriber,4,3880,970.000000,1171,803,26.000000
1298317,Oct-1-2018,old - E 13 St & Avenue A,West St & Chambers St,Boomers,male,Subscriber,1,1717,1717.000000,1717,1717,65.000000
1298318,Oct-1-2018,old - E 13 St & Avenue A,West Thames St,Millennials,female,Subscriber,1,9001,9001.000000,9001,9001,26.000000
1298319,Oct-1-2018,old - E 13 St & Avenue A,Wyckoff St & 3 Ave,Generation X,female,Subscriber,1,2164,2164.000000,2164,2164,38.000000
1298320,Oct-1-2018,old - E 13 St & Avenue A,Wythe Ave & Metropolitan Ave,Millennials,male,Subscriber,2,3085,1542.500000,1556,1529,26.500000
1298321,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Boomers,female,Subscriber,1,1004,1004.000000,1004,1004,60.000000
1298322,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Boomers,male,Subscriber,2,3783,1891.500000,2666,1117,57.000000
1298323,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Generation X,female,Subscriber,1,1490,1490.000000,1490,1490,49.000000
1298324,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Generation X,male,Customer,1,1040,1040.000000,1040,1040,47.000000
1298325,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Generation X,male,Subscriber,12,12713,1059.416667,2603,107,43.583333
1298326,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Generation X,unknown,Customer,1,197,197.000000,197,197,49.000000
1298327,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Generation Z,male,Subscriber,2,503,251.500000,433,70,19.500000
1298328,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Millennials,female,Subscriber,5,1019,203.800000,625,68,28.000000
1298329,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Millennials,male,Subscriber,20,15338,766.900000,2078,69,27.050000

In [95]:
grouped_Q12019=Q1_2019.groupby(['Month-Year','start station name','end station name','generation','gender','usertype']).agg({'bikeid':['count'],
                                                        'duration (min)': ['sum', 'mean', 'max', 'min'],
                                                        'age':['mean']}).reset_index()
grouped_Q12019.columns = grouped_Q12019.columns.map('_'.join)
grouped_Q12019

,Month-Year_,start station name_,end station name_,generation_,gender_,usertype_,bikeid_count,duration (min)_sum,duration (min)_mean,duration (min)_max,duration (min)_min,age_mean
0,Feb-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Boomers,male,Subscriber,1,792,792.000000,792,792,64.000000
1,Feb-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,male,Subscriber,1,1950,1950.000000,1950,1950,46.000000
2,Feb-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Customer,1,773,773.000000,773,773,31.000000
3,Feb-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Subscriber,5,6547,1309.400000,2257,481,33.400000
4,Feb-1-2019,1 Ave & E 110 St,1 Ave & E 62 St,Generation X,male,Subscriber,1,1396,1396.000000,1396,1396,47.000000
5,Feb-1-2019,1 Ave & E 110 St,1 Ave & E 68 St,Millennials,female,Subscriber,1,2126,2126.000000,2126,2126,37.000000
6,Feb-1-2019,1 Ave & E 110 St,1 Ave & E 68 St,Millennials,male,Subscriber,2,1784,892.000000,981,803,38.000000
7,Feb-1-2019,1 Ave & E 110 St,1 Ave & E 78 St,Generation X,male,Subscriber,1,819,819.000000,819,819,39.000000
8,Feb-1-2019,1 Ave & E 110 St,1 Ave & E 94 St,Boomers,male,Subscriber,1,410,410.000000,410,410,61.000000
9,Feb-1-2019,1 Ave & E 110 St,1 Ave & E 94 St,Generation X,female,Subscriber,1,531,531.000000,531,531,50.000000
10,Feb-1-2019,1 Ave & E 110 St,1 Ave & E 94 St,Generation X,male,Subscriber,2,1279,639.500000,700,579,47.000000
11,Feb-1-2019,1 Ave & E 110 St,1 Ave & E 94 St,Millennials,male,Subscriber,2,939,469.500000,578,361,33.000000
12,Feb-1-2019,1 Ave & E 110 St,12 Ave & W 40 St,Generation X,male,Subscriber,1,1860,1860.000000,1860,1860,52.000000
13,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,male,Subscriber,1,277,277.000000,277,277,40.000000
14,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,unknown,Customer,1,1425,1425.000000,1425,1425,50.000000
15,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 104 St,Generation Z,male,Subscriber,2,523,261.500000,282,241,22.000000
16,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Subscriber,5,2213,442.600000,1313,180,31.400000
17,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 104 St,Silent,female,Subscriber,1,334,334.000000,334,334,81.000000
18,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,female,Subscriber,1,774,774.000000,774,774,40.000000
19,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 122 St,Millennials,male,Subscriber,1,705,705.000000,705,705,27.000000
20,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 31 St,Millennials,male,Subscriber,6,10520,1753.333333,1992,1605,33.000000
21,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 72 St,Generation X,male,Subscriber,1,1126,1126.000000,1126,1126,54.000000
22,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 72 St,Generation Z,male,Subscriber,1,888,888.000000,888,888,22.000000
23,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 72 St,Millennials,male,Subscriber,1,1478,1478.000000,1478,1478,36.000000
24,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,female,Subscriber,3,1939,646.333333,660,627,55.000000
25,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,male,Subscriber,7,4412,630.285714,1042,389,56.285714
26,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,male,Subscriber,49,19011,387.979592,527,287,42.632653
27,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,unknown,Subscriber,1,467,467.000000,467,467,50.000000
28,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 96 St,Generation Z,male,Subscriber,2,824,412.000000,457,367,22.000000
29,Feb-1-2019,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,female,Subscriber,15,6069,404.600000,703,276,33.800000
...,...,...,...,...,...,...,...,...,...,...,...,...
1074722,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Ave & Greene Ave,Generation X,female,Subscriber,1,898,898.000000,898,898,48.000000
1074723,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Ave & Greene Ave,Generation X,male,Subscriber,1,1073,1073.000000,1073,1073,49.000000
1074724,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Ave & Greene Ave,Millennials,female,Subscriber,1,947,947.000000,947,947,29.000000
1074725,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Ave & Greene Ave,Millennials,male,Subscriber,4,4253,1063.250000,1195,910,33.250000
1074726,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Ave & Park Ave,Millennials,female,Subscriber,3,2048,682.666667,804,617,29.333333
1074727,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Ave & Park Ave,Millennials,male,Subscriber,2,1393,696.500000,722,671,32.000000
1074728,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Pl & 6 Ave,Generation X,male,Subscriber,1,1409,1409.000000,1409,1409,42.000000
1074729,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Pl & 6 Ave,Millennials,female,Subscriber,1,1659,1659.000000,1659,1659,27.000000
1074730,Mar-1-2019,Wythe Ave & Metropolitan Ave,Watts St & Greenwich St,Millennials,male,Customer,1,1815,1815.000000,1815,1815,35.000000
1074731,Mar-1-2019,Wythe Ave & Metropolitan Ave,West Drive & Prospect Park West,Generation X,male,Customer,2,4185,2092.500000,2388,1797,40.000000
1074732,Mar-1-2019,Wythe Ave & Metropolitan Ave,West Drive & Prospect Park West,Generation X,male,Subscriber,1,1953,1953.000000,1953,1953,45.000000
1074733,Mar-1-2019,Wythe Ave & Metropolitan Ave,West Drive & Prospect Park West,Millennials,female,Subscriber,1,1457,1457.000000,1457,1457,36.000000
1074734,Mar-1-2019,Wythe Ave & Metropolitan Ave,West Thames St,Generation X,female,Subscriber,1,1508,1508.000000,1508,1508,40.000000
1074735,Mar-1-2019,Wythe Ave & Metropolitan Ave,William St & Pine St,Millennials,male,Subscriber,2,2203,1101.500000,1192,1011,34.000000
1074736,Mar-1-2019,Wythe Ave & Metropolitan Ave,Willoughby Ave & Hall St,Millennials,female,Subscriber,1,1084,1084.000000,1084,1084,28.000000
1074737,Mar-1-2019,Wythe Ave & Metropolitan Ave,Willoughby Ave & Hall St,Millennials,male,Subscriber,1,1009,1009.000000,1009,1009,33.000000
1074738,Mar-1-2019,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,Generation X,male,Subscriber,1,1659,1659.000000,1659,1659,51.000000
1074739,Mar-1-2019,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,Millennials,female,Subscriber,1,969,969.000000,969,969,30.000000
1074740,Mar-1-2019,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,Millennials,male,Subscriber,1,1634,1634.000000,1634,1634,37.000000
1074741,Mar-1-2019,Wythe Ave & Metropolitan Ave,Willoughby St & Fleet St,Millennials,male,Subscriber,1,1036,1036.000000,1036,1036,25.000000
1074742,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Boomers,female,Subscriber,1,70,70.000000,70,70,60.000000
1074743,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Boomers,male,Subscriber,11,12123,1102.090909,2979,119,59.909091
1074744,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Generation X,female,Subscriber,1,1465,1465.000000,1465,1465,47.000000
1074745,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Generation X,male,Subscriber,7,55241,7891.571429,49776,219,45.714286
1074746,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Generation X,unknown,Customer,5,28130,5626.000000,13207,1578,50.000000
1074747,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Generation Z,male,Customer,1,185,185.000000,185,185,21.000000
1074748,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Millennials,female,Customer,2,556,278.000000,284,272,23.000000
1074749,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Millennials,female,Subscriber,7,7720,1102.857143,3668,68,31.571429
1074750,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Millennials,male,Customer,3,2965,988.333333,1416,171,33.333333
1074751,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Millennials,male,Subscriber,7,26329,3761.285714,11465,604,31.571429

In [96]:
grouped_Q22019=Q2_2019.groupby(['Month-Year','start station name','end station name','generation','gender','usertype']).agg({'bikeid':['count'],
                                                        'duration (min)': ['sum', 'mean', 'max', 'min'],
                                                        'age':['mean']}).reset_index()
grouped_Q22019.columns = grouped_Q22019.columns.map('_'.join)
grouped_Q22019

,Month-Year_,start station name_,end station name_,generation_,gender_,usertype_,bikeid_count,duration (min)_sum,duration (min)_mean,duration (min)_max,duration (min)_min,age_mean
0,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Boomers,female,Subscriber,2,2867,1.433500e+03,2785,82,61.000000
1,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Boomers,male,Subscriber,3,3119,1.039667e+03,2509,283,57.000000
2,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,male,Subscriber,1,408,4.080000e+02,408,408,42.000000
3,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Customer,1,1618,1.618000e+03,1618,1618,50.000000
4,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Subscriber,1,1950,1.950000e+03,1950,1950,50.000000
5,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Generation Z,male,Customer,3,8408,2.802667e+03,4277,93,19.666667
6,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Generation Z,male,Subscriber,1,314,3.140000e+02,314,314,19.000000
7,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,female,Customer,1,3829,3.829000e+03,3829,3829,30.000000
8,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,female,Subscriber,3,4006,1.335333e+03,1788,599,28.000000
9,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Customer,2,916,4.580000e+02,525,391,31.000000
10,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Subscriber,10,9966,9.966000e+02,2678,78,32.300000
11,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 62 St,Generation X,male,Subscriber,2,4113,2.056500e+03,2075,2038,40.500000
12,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 62 St,Generation X,unknown,Customer,1,1842,1.842000e+03,1842,1842,50.000000
13,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 62 St,Millennials,male,Customer,1,1902,1.902000e+03,1902,1902,27.000000
14,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 62 St,Millennials,male,Subscriber,3,3789,1.263000e+03,1570,1059,32.333333
15,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 68 St,Boomers,male,Subscriber,1,980,9.800000e+02,980,980,58.000000
16,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 68 St,Millennials,female,Subscriber,2,2241,1.120500e+03,1419,822,35.000000
17,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 68 St,Millennials,male,Subscriber,10,8398,8.398000e+02,969,643,38.000000
18,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 78 St,Generation X,male,Subscriber,2,1550,7.750000e+02,783,767,39.000000
19,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 78 St,Millennials,female,Customer,1,1657,1.657000e+03,1657,1657,29.000000
20,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 78 St,Millennials,male,Subscriber,1,1560,1.560000e+03,1560,1560,28.000000
21,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 94 St,Boomers,male,Subscriber,2,855,4.275000e+02,447,408,61.000000
22,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 94 St,Generation X,male,Subscriber,2,1044,5.220000e+02,553,491,41.500000
23,Apr-1-2019,1 Ave & E 110 St,1 Ave & E 94 St,Millennials,male,Subscriber,4,1625,4.062500e+02,550,275,31.750000
24,Apr-1-2019,1 Ave & E 110 St,12 Ave & W 40 St,Millennials,male,Subscriber,1,2566,2.566000e+03,2566,2566,35.000000
25,Apr-1-2019,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,female,Subscriber,1,271,2.710000e+02,271,271,47.000000
26,Apr-1-2019,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,male,Subscriber,3,1186,3.953333e+02,576,207,42.000000
27,Apr-1-2019,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,female,Subscriber,2,594,2.970000e+02,360,234,36.000000
28,Apr-1-2019,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Subscriber,8,1966,2.457500e+02,488,158,32.750000
29,Apr-1-2019,1 Ave & E 110 St,2 Ave & E 122 St,Millennials,female,Customer,1,424,4.240000e+02,424,424,30.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
1163869,May-1-2019,Yankee Ferry Terminal,Soissons Landing,Millennials,male,Customer,23,36623,1.592304e+03,3422,269,30.304348
1163870,May-1-2019,Yankee Ferry Terminal,Soissons Landing,Millennials,male,Subscriber,50,62683,1.253660e+03,3070,245,30.620000
1163871,May-1-2019,Yankee Ferry Terminal,Soissons Landing,Millennials,unknown,Customer,1,1645,1.645000e+03,1645,1645,30.000000
1163872,May-1-2019,Yankee Ferry Terminal,Soissons Landing,Millennials,unknown,Subscriber,1,2385,2.385000e+03,2385,2385,36.000000
1163873,May-1-2019,Yankee Ferry Terminal,Soissons Landing,Silent,male,Subscriber,1,819,8.190000e+02,819,819,74.000000
1163874,May-1-2019,Yankee Ferry Terminal,South St & Whitehall St,Generation X,male,Subscriber,1,3777,3.777000e+03,3777,3777,41.000000
1163875,May-1-2019,Yankee Ferry Terminal,South St & Whitehall St,Generation X,unknown,Customer,4,24175,6.043750e+03,8315,3670,50.000000
1163876,May-1-2019,Yankee Ferry Terminal,South St & Whitehall St,Millennials,female,Subscriber,1,4206,4.206000e+03,4206,4206,27.000000
1163877,May-1-2019,Yankee Ferry Terminal,Water - Whitehall Plaza,Generation X,unknown,Customer,1,6644,6.644000e+03,6644,6644,50.000000
1163878,May-1-2019,Yankee Ferry Terminal,West Drive & Prospect Park West,Generation X,unknown,Customer,1,1320366,1.320366e+06,1320366,1320366,50.000000
1163879,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,female,Customer,1,1973,1.973000e+03,1973,1973,59.000000
1163880,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,female,Subscriber,5,4065,8.130000e+02,1965,113,61.200000
1163881,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,male,Customer,5,9201,1.840200e+03,3430,1044,59.800000
1163882,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,male,Subscriber,9,29099,3.233222e+03,12408,1109,60.444444
1163883,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,female,Customer,7,9901,1.414429e+03,1724,1219,44.000000
1163884,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,female,Subscriber,26,62002,2.384692e+03,10702,392,46.769231
1163885,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,male,Customer,8,10863,1.357875e+03,3244,101,45.875000
1163886,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,male,Subscriber,71,164814,2.321324e+03,13775,65,45.309859
1163887,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,unknown,Customer,231,518824,2.245991e+03,14345,62,49.956710
1163888,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,unknown,Subscriber,3,3497,1.165667e+03,2302,206,46.666667
1163889,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,female,Customer,17,39509,2.324059e+03,3534,1240,19.823529
1163890,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,female,Subscriber,2,2529,1.264500e+03,1290,1239,17.500000
1163891,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,male,Customer,11,30392,2.762909e+03,3483,989,19.909091
1163892,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,male,Subscriber,6,9525,1.587500e+03,2313,126,20.333333
1163893,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,female,Customer,28,65556,2.341286e+03,7671,317,29.714286
1163894,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,female,Subscriber,42,83519,1.988548e+03,9871,391,30.500000
1163895,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,male,Customer,27,57570,2.132222e+03,5982,230,29.740741
1163896,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,male,Subscriber,46,66200,1.439130e+03,3553,65,32.521739
1163897,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,unknown,Subscriber,2,2672,1.336000e+03,2531,141,32.500000
1163898,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Silent,male,Subscriber,1,86,8.600000e+01,86,86,77.000000

In [97]:
combined_df = grouped_Q12018.append(grouped_Q22018, ignore_index=True)
combined_df

,Month-Year_,start station name_,end station name_,generation_,gender_,usertype_,bikeid_count,duration (min)_sum,duration (min)_mean,duration (min)_max,duration (min)_min,age_mean
0,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,male,Subscriber,1,1289,1289.000000,1289,1289,45.000000
1,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Customer,2,14001,7000.500000,7118,6883,49.000000
2,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Subscriber,1,321,321.000000,321,321,28.000000
3,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 68 St,Millennials,female,Subscriber,1,1305,1305.000000,1305,1305,26.000000
4,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Generation X,male,Subscriber,9,6665,740.555556,819,677,38.000000
5,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,male,Subscriber,2,694,347.000000,395,299,47.500000
6,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,unknown,Customer,1,471,471.000000,471,471,49.000000
7,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Subscriber,2,566,283.000000,287,279,30.500000
8,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,female,Subscriber,6,2132,355.333333,399,285,45.000000
9,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,male,Subscriber,1,437,437.000000,437,437,38.000000
10,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Millennials,female,Subscriber,1,426,426.000000,426,426,30.000000
11,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 31 St,Millennials,male,Subscriber,5,7942,1588.400000,1718,1496,32.000000
12,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,female,Subscriber,1,653,653.000000,653,653,54.000000
13,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,male,Subscriber,1,558,558.000000,558,558,63.000000
14,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,male,Subscriber,22,8328,378.545455,454,325,40.227273
15,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,unknown,Subscriber,1,320,320.000000,320,320,49.000000
16,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,female,Subscriber,4,2446,611.500000,1107,439,32.750000
17,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,male,Subscriber,18,6564,364.666667,631,262,33.222222
18,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 99 St,Generation X,male,Subscriber,3,885,295.000000,320,250,43.666667
19,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 112 St,Boomers,male,Subscriber,1,706,706.000000,706,706,56.000000
20,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 112 St,Generation X,female,Subscriber,1,200,200.000000,200,200,53.000000
21,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 62 St,Millennials,male,Subscriber,2,2381,1190.500000,1235,1146,35.000000
22,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 71 St,Generation X,male,Subscriber,1,725,725.000000,725,725,45.000000
23,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 103 St,Boomers,female,Subscriber,1,1092,1092.000000,1092,1092,54.000000
24,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 103 St,Generation X,unknown,Customer,2,2034,1017.000000,1028,1006,49.000000
25,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 63 St,Millennials,male,Subscriber,1,1400,1400.000000,1400,1400,33.000000
26,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 78 St,Millennials,male,Subscriber,1,878,878.000000,878,878,36.000000
27,Feb-1-2018,1 Ave & E 110 St,9 Ave & W 28 St,Generation X,male,Subscriber,3,7292,2430.666667,2624,2251,44.000000
28,Feb-1-2018,1 Ave & E 110 St,Adam Clayton Powell Blvd & W 118 St,Generation X,female,Customer,2,2188,1094.000000,1199,989,44.000000
29,Feb-1-2018,1 Ave & E 110 St,Adam Clayton Powell Blvd & W 118 St,Generation X,male,Subscriber,2,2630,1315.000000,1449,1181,45.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2398296,May-1-2018,Yankee Ferry Terminal,Soissons Landing,Millennials,male,Subscriber,35,35356,1010.171429,3634,223,30.742857
2398297,May-1-2018,Yankee Ferry Terminal,Soissons Landing,Millennials,unknown,Customer,1,3155,3155.000000,3155,3155,23.000000
2398298,May-1-2018,Yankee Ferry Terminal,Soissons Landing,Silent,male,Subscriber,1,589,589.000000,589,589,132.000000
2398299,May-1-2018,Yankee Ferry Terminal,South St & Gouverneur Ln,Boomers,male,Subscriber,1,2206,2206.000000,2206,2206,60.000000
2398300,May-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Boomers,male,Subscriber,1,1610,1610.000000,1610,1610,61.000000
2398301,May-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Generation X,unknown,Customer,1,1441,1441.000000,1441,1441,49.000000
2398302,May-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Generation Z,male,Customer,1,1581,1581.000000,1581,1581,21.000000
2398303,May-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,female,Customer,1,1446,1446.000000,1446,1446,23.000000
2398304,May-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,female,Subscriber,1,1390,1390.000000,1390,1390,27.000000
2398305,May-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,male,Subscriber,2,3458,1729.000000,2056,1402,30.500000
2398306,May-1-2018,Yankee Ferry Terminal,W 15 St & 10 Ave,Generation X,male,Subscriber,1,5400,5400.000000,5400,5400,41.000000
2398307,May-1-2018,Yankee Ferry Terminal,Water - Whitehall Plaza,Generation X,female,Subscriber,1,3025,3025.000000,3025,3025,53.000000
2398308,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,female,Customer,1,1494,1494.000000,1494,1494,58.000000
2398309,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,female,Subscriber,5,8803,1760.600000,2873,805,62.200000
2398310,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,male,Customer,2,3537,1768.500000,2246,1291,59.000000
2398311,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,male,Subscriber,9,18009,2001.000000,3264,1159,58.777778
2398312,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,female,Customer,8,23855,2981.875000,7398,829,44.250000
2398313,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,female,Subscriber,28,65767,2348.821429,7471,416,44.178571
2398314,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,male,Customer,5,7619,1523.800000,2227,803,44.000000
2398315,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,male,Subscriber,39,80724,2069.846154,6125,114,44.743590
2398316,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,unknown,Customer,117,231204,1976.102564,12922,83,49.000000
2398317,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,unknown,Subscriber,6,10916,1819.333333,3155,1125,49.000000
2398318,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,female,Customer,5,9690,1938.000000,3573,1442,18.000000
2398319,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,female,Subscriber,3,3907,1302.333333,3351,89,18.666667
2398320,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,male,Customer,2,4145,2072.500000,2266,1879,20.500000
2398321,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,female,Customer,11,15087,1371.545455,1968,857,27.818182
2398322,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,female,Subscriber,32,52544,1642.000000,3949,156,29.687500
2398323,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,male,Customer,14,27775,1983.928571,3814,137,29.000000
2398324,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,male,Subscriber,37,65353,1766.297297,5864,74,30.594595
2398325,May-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,unknown,Customer,1,1536,1536.000000,1536,1536,23.000000

In [98]:
combined_df = combined_df.append(grouped_Q32018, ignore_index=True)
combined_df

,Month-Year_,start station name_,end station name_,generation_,gender_,usertype_,bikeid_count,duration (min)_sum,duration (min)_mean,duration (min)_max,duration (min)_min,age_mean
0,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,male,Subscriber,1,1289,1289.000000,1289,1289,45.000000
1,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Customer,2,14001,7000.500000,7118,6883,49.000000
2,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Subscriber,1,321,321.000000,321,321,28.000000
3,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 68 St,Millennials,female,Subscriber,1,1305,1305.000000,1305,1305,26.000000
4,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Generation X,male,Subscriber,9,6665,740.555556,819,677,38.000000
5,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,male,Subscriber,2,694,347.000000,395,299,47.500000
6,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,unknown,Customer,1,471,471.000000,471,471,49.000000
7,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Subscriber,2,566,283.000000,287,279,30.500000
8,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,female,Subscriber,6,2132,355.333333,399,285,45.000000
9,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,male,Subscriber,1,437,437.000000,437,437,38.000000
10,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Millennials,female,Subscriber,1,426,426.000000,426,426,30.000000
11,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 31 St,Millennials,male,Subscriber,5,7942,1588.400000,1718,1496,32.000000
12,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,female,Subscriber,1,653,653.000000,653,653,54.000000
13,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,male,Subscriber,1,558,558.000000,558,558,63.000000
14,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,male,Subscriber,22,8328,378.545455,454,325,40.227273
15,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,unknown,Subscriber,1,320,320.000000,320,320,49.000000
16,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,female,Subscriber,4,2446,611.500000,1107,439,32.750000
17,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,male,Subscriber,18,6564,364.666667,631,262,33.222222
18,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 99 St,Generation X,male,Subscriber,3,885,295.000000,320,250,43.666667
19,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 112 St,Boomers,male,Subscriber,1,706,706.000000,706,706,56.000000
20,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 112 St,Generation X,female,Subscriber,1,200,200.000000,200,200,53.000000
21,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 62 St,Millennials,male,Subscriber,2,2381,1190.500000,1235,1146,35.000000
22,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 71 St,Generation X,male,Subscriber,1,725,725.000000,725,725,45.000000
23,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 103 St,Boomers,female,Subscriber,1,1092,1092.000000,1092,1092,54.000000
24,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 103 St,Generation X,unknown,Customer,2,2034,1017.000000,1028,1006,49.000000
25,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 63 St,Millennials,male,Subscriber,1,1400,1400.000000,1400,1400,33.000000
26,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 78 St,Millennials,male,Subscriber,1,878,878.000000,878,878,36.000000
27,Feb-1-2018,1 Ave & E 110 St,9 Ave & W 28 St,Generation X,male,Subscriber,3,7292,2430.666667,2624,2251,44.000000
28,Feb-1-2018,1 Ave & E 110 St,Adam Clayton Powell Blvd & W 118 St,Generation X,female,Customer,2,2188,1094.000000,1199,989,44.000000
29,Feb-1-2018,1 Ave & E 110 St,Adam Clayton Powell Blvd & W 118 St,Generation X,male,Subscriber,2,2630,1315.000000,1449,1181,45.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
4131531,Sep-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Generation X,unknown,Customer,10,30643,3064.300000,6587,1249,49.000000
4131532,Sep-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,female,Customer,3,5183,1727.666667,1859,1552,30.000000
4131533,Sep-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,female,Subscriber,1,2880,2880.000000,2880,2880,33.000000
4131534,Sep-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,male,Customer,1,1927,1927.000000,1927,1927,35.000000
4131535,Sep-1-2018,Yankee Ferry Terminal,South St & Whitehall St,Millennials,male,Subscriber,3,5394,1798.000000,2514,1180,33.000000
4131536,Sep-1-2018,Yankee Ferry Terminal,Water - Whitehall Plaza,Generation X,male,Subscriber,1,2017,2017.000000,2017,2017,53.000000
4131537,Sep-1-2018,Yankee Ferry Terminal,West Thames St,Generation X,male,Customer,1,8435,8435.000000,8435,8435,43.000000
4131538,Sep-1-2018,Yankee Ferry Terminal,West Thames St,Millennials,female,Customer,1,8341,8341.000000,8341,8341,35.000000
4131539,Sep-1-2018,Yankee Ferry Terminal,William St & Pine St,Generation X,female,Subscriber,1,2628,2628.000000,2628,2628,49.000000
4131540,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,female,Customer,11,20972,1906.545455,5011,343,57.545455
4131541,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,female,Subscriber,27,53443,1979.370370,4088,152,59.777778
4131542,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,male,Customer,8,12673,1584.125000,3758,197,58.750000
4131543,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,male,Subscriber,46,82413,1791.586957,3732,114,59.891304
4131544,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,unknown,Customer,1,1010,1010.000000,1010,1010,61.000000
4131545,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,female,Customer,12,40461,3371.750000,12022,263,43.416667
4131546,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,female,Subscriber,53,204424,3857.056604,83631,269,45.547170
4131547,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,male,Customer,14,32351,2310.785714,8759,741,42.285714
4131548,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,male,Subscriber,102,235565,2309.460784,21082,93,44.431373
4131549,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,unknown,Customer,219,650321,2969.502283,20922,62,48.972603
4131550,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,unknown,Subscriber,7,7857,1122.428571,2407,75,49.000000
4131551,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,female,Customer,2,1806,903.000000,1553,253,17.000000
4131552,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,female,Subscriber,1,1900,1900.000000,1900,1900,20.000000
4131553,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,male,Customer,8,9204,1150.500000,1734,206,18.000000
4131554,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,male,Subscriber,4,4648,1162.000000,1832,112,18.250000
4131555,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,female,Customer,83,232096,2796.337349,69679,61,27.903614
4131556,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,female,Subscriber,77,135955,1765.649351,6442,77,30.987013
4131557,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,male,Customer,51,118263,2318.882353,12796,366,29.196078
4131558,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,male,Subscriber,115,186330,1620.260870,6467,68,30.791304
4131559,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,unknown,Subscriber,2,4477,2238.500000,2869,1608,28.000000
4131560,Sep-1-2018,Yankee Ferry Terminal,Yankee Ferry Terminal,Silent,female,Subscriber,4,3078,769.500000,1323,157,74.000000

In [99]:
combined_df = combined_df.append(grouped_Q42018, ignore_index=True)
combined_df

,Month-Year_,start station name_,end station name_,generation_,gender_,usertype_,bikeid_count,duration (min)_sum,duration (min)_mean,duration (min)_max,duration (min)_min,age_mean
0,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,male,Subscriber,1,1289,1289.000000,1289,1289,45.000000
1,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Customer,2,14001,7000.500000,7118,6883,49.000000
2,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Subscriber,1,321,321.000000,321,321,28.000000
3,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 68 St,Millennials,female,Subscriber,1,1305,1305.000000,1305,1305,26.000000
4,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Generation X,male,Subscriber,9,6665,740.555556,819,677,38.000000
5,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,male,Subscriber,2,694,347.000000,395,299,47.500000
6,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,unknown,Customer,1,471,471.000000,471,471,49.000000
7,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Subscriber,2,566,283.000000,287,279,30.500000
8,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,female,Subscriber,6,2132,355.333333,399,285,45.000000
9,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,male,Subscriber,1,437,437.000000,437,437,38.000000
10,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Millennials,female,Subscriber,1,426,426.000000,426,426,30.000000
11,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 31 St,Millennials,male,Subscriber,5,7942,1588.400000,1718,1496,32.000000
12,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,female,Subscriber,1,653,653.000000,653,653,54.000000
13,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,male,Subscriber,1,558,558.000000,558,558,63.000000
14,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,male,Subscriber,22,8328,378.545455,454,325,40.227273
15,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,unknown,Subscriber,1,320,320.000000,320,320,49.000000
16,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,female,Subscriber,4,2446,611.500000,1107,439,32.750000
17,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,male,Subscriber,18,6564,364.666667,631,262,33.222222
18,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 99 St,Generation X,male,Subscriber,3,885,295.000000,320,250,43.666667
19,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 112 St,Boomers,male,Subscriber,1,706,706.000000,706,706,56.000000
20,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 112 St,Generation X,female,Subscriber,1,200,200.000000,200,200,53.000000
21,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 62 St,Millennials,male,Subscriber,2,2381,1190.500000,1235,1146,35.000000
22,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 71 St,Generation X,male,Subscriber,1,725,725.000000,725,725,45.000000
23,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 103 St,Boomers,female,Subscriber,1,1092,1092.000000,1092,1092,54.000000
24,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 103 St,Generation X,unknown,Customer,2,2034,1017.000000,1028,1006,49.000000
25,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 63 St,Millennials,male,Subscriber,1,1400,1400.000000,1400,1400,33.000000
26,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 78 St,Millennials,male,Subscriber,1,878,878.000000,878,878,36.000000
27,Feb-1-2018,1 Ave & E 110 St,9 Ave & W 28 St,Generation X,male,Subscriber,3,7292,2430.666667,2624,2251,44.000000
28,Feb-1-2018,1 Ave & E 110 St,Adam Clayton Powell Blvd & W 118 St,Generation X,female,Customer,2,2188,1094.000000,1199,989,44.000000
29,Feb-1-2018,1 Ave & E 110 St,Adam Clayton Powell Blvd & W 118 St,Generation X,male,Subscriber,2,2630,1315.000000,1449,1181,45.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
5429861,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & 6 Ave,Generation X,male,Subscriber,2,1200,600.000000,607,593,51.000000
5429862,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & 6 Ave,Millennials,male,Customer,1,874,874.000000,874,874,25.000000
5429863,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & 6 Ave,Millennials,male,Subscriber,4,2960,740.000000,1106,582,27.250000
5429864,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & Broadway,Generation Z,female,Subscriber,5,2432,486.400000,540,439,20.800000
5429865,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & Broadway,Generation Z,male,Subscriber,13,6097,469.000000,564,384,20.384615
5429866,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & Broadway,Generation Z,unknown,Subscriber,1,483,483.000000,483,483,20.000000
5429867,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & Broadway,Millennials,female,Customer,1,557,557.000000,557,557,23.000000
5429868,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & Broadway,Millennials,female,Subscriber,1,548,548.000000,548,548,22.000000
5429869,Oct-1-2018,old - E 13 St & Avenue A,Washington Pl & Broadway,Millennials,male,Subscriber,6,3559,593.166667,789,459,27.000000
5429870,Oct-1-2018,old - E 13 St & Avenue A,Washington St & Gansevoort St,Generation X,female,Subscriber,1,1057,1057.000000,1057,1057,41.000000
5429871,Oct-1-2018,old - E 13 St & Avenue A,Washington St & Gansevoort St,Generation X,male,Subscriber,3,2438,812.666667,1050,659,44.000000
5429872,Oct-1-2018,old - E 13 St & Avenue A,Washington St & Gansevoort St,Generation X,unknown,Customer,1,1372,1372.000000,1372,1372,49.000000
5429873,Oct-1-2018,old - E 13 St & Avenue A,Washington St & Gansevoort St,Millennials,male,Subscriber,1,784,784.000000,784,784,30.000000
5429874,Oct-1-2018,old - E 13 St & Avenue A,Water - Whitehall Plaza,Generation X,male,Subscriber,3,3872,1290.666667,1324,1236,51.000000
5429875,Oct-1-2018,old - E 13 St & Avenue A,Watts St & Greenwich St,Generation X,female,Subscriber,1,2321,2321.000000,2321,2321,41.000000
5429876,Oct-1-2018,old - E 13 St & Avenue A,Watts St & Greenwich St,Millennials,female,Subscriber,1,1311,1311.000000,1311,1311,29.000000
5429877,Oct-1-2018,old - E 13 St & Avenue A,Watts St & Greenwich St,Millennials,male,Subscriber,4,3880,970.000000,1171,803,26.000000
5429878,Oct-1-2018,old - E 13 St & Avenue A,West St & Chambers St,Boomers,male,Subscriber,1,1717,1717.000000,1717,1717,65.000000
5429879,Oct-1-2018,old - E 13 St & Avenue A,West Thames St,Millennials,female,Subscriber,1,9001,9001.000000,9001,9001,26.000000
5429880,Oct-1-2018,old - E 13 St & Avenue A,Wyckoff St & 3 Ave,Generation X,female,Subscriber,1,2164,2164.000000,2164,2164,38.000000
5429881,Oct-1-2018,old - E 13 St & Avenue A,Wythe Ave & Metropolitan Ave,Millennials,male,Subscriber,2,3085,1542.500000,1556,1529,26.500000
5429882,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Boomers,female,Subscriber,1,1004,1004.000000,1004,1004,60.000000
5429883,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Boomers,male,Subscriber,2,3783,1891.500000,2666,1117,57.000000
5429884,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Generation X,female,Subscriber,1,1490,1490.000000,1490,1490,49.000000
5429885,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Generation X,male,Customer,1,1040,1040.000000,1040,1040,47.000000
5429886,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Generation X,male,Subscriber,12,12713,1059.416667,2603,107,43.583333
5429887,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Generation X,unknown,Customer,1,197,197.000000,197,197,49.000000
5429888,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Generation Z,male,Subscriber,2,503,251.500000,433,70,19.500000
5429889,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Millennials,female,Subscriber,5,1019,203.800000,625,68,28.000000
5429890,Oct-1-2018,old - E 13 St & Avenue A,old - E 13 St & Avenue A,Millennials,male,Subscriber,20,15338,766.900000,2078,69,27.050000

In [100]:
combined_df = combined_df.append(grouped_Q12019, ignore_index=True)
combined_df

,Month-Year_,start station name_,end station name_,generation_,gender_,usertype_,bikeid_count,duration (min)_sum,duration (min)_mean,duration (min)_max,duration (min)_min,age_mean
0,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,male,Subscriber,1,1289,1289.000000,1289,1289,45.000000
1,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Customer,2,14001,7000.500000,7118,6883,49.000000
2,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Subscriber,1,321,321.000000,321,321,28.000000
3,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 68 St,Millennials,female,Subscriber,1,1305,1305.000000,1305,1305,26.000000
4,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Generation X,male,Subscriber,9,6665,740.555556,819,677,38.000000
5,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,male,Subscriber,2,694,347.000000,395,299,47.500000
6,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,unknown,Customer,1,471,471.000000,471,471,49.000000
7,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Subscriber,2,566,283.000000,287,279,30.500000
8,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,female,Subscriber,6,2132,355.333333,399,285,45.000000
9,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,male,Subscriber,1,437,437.000000,437,437,38.000000
10,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Millennials,female,Subscriber,1,426,426.000000,426,426,30.000000
11,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 31 St,Millennials,male,Subscriber,5,7942,1588.400000,1718,1496,32.000000
12,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,female,Subscriber,1,653,653.000000,653,653,54.000000
13,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,male,Subscriber,1,558,558.000000,558,558,63.000000
14,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,male,Subscriber,22,8328,378.545455,454,325,40.227273
15,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,unknown,Subscriber,1,320,320.000000,320,320,49.000000
16,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,female,Subscriber,4,2446,611.500000,1107,439,32.750000
17,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,male,Subscriber,18,6564,364.666667,631,262,33.222222
18,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 99 St,Generation X,male,Subscriber,3,885,295.000000,320,250,43.666667
19,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 112 St,Boomers,male,Subscriber,1,706,706.000000,706,706,56.000000
20,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 112 St,Generation X,female,Subscriber,1,200,200.000000,200,200,53.000000
21,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 62 St,Millennials,male,Subscriber,2,2381,1190.500000,1235,1146,35.000000
22,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 71 St,Generation X,male,Subscriber,1,725,725.000000,725,725,45.000000
23,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 103 St,Boomers,female,Subscriber,1,1092,1092.000000,1092,1092,54.000000
24,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 103 St,Generation X,unknown,Customer,2,2034,1017.000000,1028,1006,49.000000
25,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 63 St,Millennials,male,Subscriber,1,1400,1400.000000,1400,1400,33.000000
26,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 78 St,Millennials,male,Subscriber,1,878,878.000000,878,878,36.000000
27,Feb-1-2018,1 Ave & E 110 St,9 Ave & W 28 St,Generation X,male,Subscriber,3,7292,2430.666667,2624,2251,44.000000
28,Feb-1-2018,1 Ave & E 110 St,Adam Clayton Powell Blvd & W 118 St,Generation X,female,Customer,2,2188,1094.000000,1199,989,44.000000
29,Feb-1-2018,1 Ave & E 110 St,Adam Clayton Powell Blvd & W 118 St,Generation X,male,Subscriber,2,2630,1315.000000,1449,1181,45.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
6504613,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Ave & Greene Ave,Generation X,female,Subscriber,1,898,898.000000,898,898,48.000000
6504614,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Ave & Greene Ave,Generation X,male,Subscriber,1,1073,1073.000000,1073,1073,49.000000
6504615,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Ave & Greene Ave,Millennials,female,Subscriber,1,947,947.000000,947,947,29.000000
6504616,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Ave & Greene Ave,Millennials,male,Subscriber,4,4253,1063.250000,1195,910,33.250000
6504617,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Ave & Park Ave,Millennials,female,Subscriber,3,2048,682.666667,804,617,29.333333
6504618,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Ave & Park Ave,Millennials,male,Subscriber,2,1393,696.500000,722,671,32.000000
6504619,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Pl & 6 Ave,Generation X,male,Subscriber,1,1409,1409.000000,1409,1409,42.000000
6504620,Mar-1-2019,Wythe Ave & Metropolitan Ave,Washington Pl & 6 Ave,Millennials,female,Subscriber,1,1659,1659.000000,1659,1659,27.000000
6504621,Mar-1-2019,Wythe Ave & Metropolitan Ave,Watts St & Greenwich St,Millennials,male,Customer,1,1815,1815.000000,1815,1815,35.000000
6504622,Mar-1-2019,Wythe Ave & Metropolitan Ave,West Drive & Prospect Park West,Generation X,male,Customer,2,4185,2092.500000,2388,1797,40.000000
6504623,Mar-1-2019,Wythe Ave & Metropolitan Ave,West Drive & Prospect Park West,Generation X,male,Subscriber,1,1953,1953.000000,1953,1953,45.000000
6504624,Mar-1-2019,Wythe Ave & Metropolitan Ave,West Drive & Prospect Park West,Millennials,female,Subscriber,1,1457,1457.000000,1457,1457,36.000000
6504625,Mar-1-2019,Wythe Ave & Metropolitan Ave,West Thames St,Generation X,female,Subscriber,1,1508,1508.000000,1508,1508,40.000000
6504626,Mar-1-2019,Wythe Ave & Metropolitan Ave,William St & Pine St,Millennials,male,Subscriber,2,2203,1101.500000,1192,1011,34.000000
6504627,Mar-1-2019,Wythe Ave & Metropolitan Ave,Willoughby Ave & Hall St,Millennials,female,Subscriber,1,1084,1084.000000,1084,1084,28.000000
6504628,Mar-1-2019,Wythe Ave & Metropolitan Ave,Willoughby Ave & Hall St,Millennials,male,Subscriber,1,1009,1009.000000,1009,1009,33.000000
6504629,Mar-1-2019,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,Generation X,male,Subscriber,1,1659,1659.000000,1659,1659,51.000000
6504630,Mar-1-2019,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,Millennials,female,Subscriber,1,969,969.000000,969,969,30.000000
6504631,Mar-1-2019,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,Millennials,male,Subscriber,1,1634,1634.000000,1634,1634,37.000000
6504632,Mar-1-2019,Wythe Ave & Metropolitan Ave,Willoughby St & Fleet St,Millennials,male,Subscriber,1,1036,1036.000000,1036,1036,25.000000
6504633,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Boomers,female,Subscriber,1,70,70.000000,70,70,60.000000
6504634,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Boomers,male,Subscriber,11,12123,1102.090909,2979,119,59.909091
6504635,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Generation X,female,Subscriber,1,1465,1465.000000,1465,1465,47.000000
6504636,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Generation X,male,Subscriber,7,55241,7891.571429,49776,219,45.714286
6504637,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Generation X,unknown,Customer,5,28130,5626.000000,13207,1578,50.000000
6504638,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Generation Z,male,Customer,1,185,185.000000,185,185,21.000000
6504639,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Millennials,female,Customer,2,556,278.000000,284,272,23.000000
6504640,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Millennials,female,Subscriber,7,7720,1102.857143,3668,68,31.571429
6504641,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Millennials,male,Customer,3,2965,988.333333,1416,171,33.333333
6504642,Mar-1-2019,Wythe Ave & Metropolitan Ave,Wythe Ave & Metropolitan Ave,Millennials,male,Subscriber,7,26329,3761.285714,11465,604,31.571429

In [101]:
combined_df = combined_df.append(grouped_Q22019, ignore_index=True)
combined_df

,Month-Year_,start station name_,end station name_,generation_,gender_,usertype_,bikeid_count,duration (min)_sum,duration (min)_mean,duration (min)_max,duration (min)_min,age_mean
0,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,male,Subscriber,1,1289,1.289000e+03,1289,1289,45.000000
1,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Generation X,unknown,Customer,2,14001,7.000500e+03,7118,6883,49.000000
2,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 110 St,Millennials,male,Subscriber,1,321,3.210000e+02,321,321,28.000000
3,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 68 St,Millennials,female,Subscriber,1,1305,1.305000e+03,1305,1305,26.000000
4,Feb-1-2018,1 Ave & E 110 St,1 Ave & E 78 St,Generation X,male,Subscriber,9,6665,7.405556e+02,819,677,38.000000
5,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,male,Subscriber,2,694,3.470000e+02,395,299,47.500000
6,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Generation X,unknown,Customer,1,471,4.710000e+02,471,471,49.000000
7,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 104 St,Millennials,male,Subscriber,2,566,2.830000e+02,287,279,30.500000
8,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,female,Subscriber,6,2132,3.553333e+02,399,285,45.000000
9,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Generation X,male,Subscriber,1,437,4.370000e+02,437,437,38.000000
10,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 122 St,Millennials,female,Subscriber,1,426,4.260000e+02,426,426,30.000000
11,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 31 St,Millennials,male,Subscriber,5,7942,1.588400e+03,1718,1496,32.000000
12,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,female,Subscriber,1,653,6.530000e+02,653,653,54.000000
13,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Boomers,male,Subscriber,1,558,5.580000e+02,558,558,63.000000
14,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,male,Subscriber,22,8328,3.785455e+02,454,325,40.227273
15,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Generation X,unknown,Subscriber,1,320,3.200000e+02,320,320,49.000000
16,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,female,Subscriber,4,2446,6.115000e+02,1107,439,32.750000
17,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 96 St,Millennials,male,Subscriber,18,6564,3.646667e+02,631,262,33.222222
18,Feb-1-2018,1 Ave & E 110 St,2 Ave & E 99 St,Generation X,male,Subscriber,3,885,2.950000e+02,320,250,43.666667
19,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 112 St,Boomers,male,Subscriber,1,706,7.060000e+02,706,706,56.000000
20,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 112 St,Generation X,female,Subscriber,1,200,2.000000e+02,200,200,53.000000
21,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 62 St,Millennials,male,Subscriber,2,2381,1.190500e+03,1235,1146,35.000000
22,Feb-1-2018,1 Ave & E 110 St,3 Ave & E 71 St,Generation X,male,Subscriber,1,725,7.250000e+02,725,725,45.000000
23,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 103 St,Boomers,female,Subscriber,1,1092,1.092000e+03,1092,1092,54.000000
24,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 103 St,Generation X,unknown,Customer,2,2034,1.017000e+03,1028,1006,49.000000
25,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 63 St,Millennials,male,Subscriber,1,1400,1.400000e+03,1400,1400,33.000000
26,Feb-1-2018,1 Ave & E 110 St,5 Ave & E 78 St,Millennials,male,Subscriber,1,878,8.780000e+02,878,878,36.000000
27,Feb-1-2018,1 Ave & E 110 St,9 Ave & W 28 St,Generation X,male,Subscriber,3,7292,2.430667e+03,2624,2251,44.000000
28,Feb-1-2018,1 Ave & E 110 St,Adam Clayton Powell Blvd & W 118 St,Generation X,female,Customer,2,2188,1.094000e+03,1199,989,44.000000
29,Feb-1-2018,1 Ave & E 110 St,Adam Clayton Powell Blvd & W 118 St,Generation X,male,Subscriber,2,2630,1.315000e+03,1449,1181,45.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
7668512,May-1-2019,Yankee Ferry Terminal,Soissons Landing,Millennials,male,Customer,23,36623,1.592304e+03,3422,269,30.304348
7668513,May-1-2019,Yankee Ferry Terminal,Soissons Landing,Millennials,male,Subscriber,50,62683,1.253660e+03,3070,245,30.620000
7668514,May-1-2019,Yankee Ferry Terminal,Soissons Landing,Millennials,unknown,Customer,1,1645,1.645000e+03,1645,1645,30.000000
7668515,May-1-2019,Yankee Ferry Terminal,Soissons Landing,Millennials,unknown,Subscriber,1,2385,2.385000e+03,2385,2385,36.000000
7668516,May-1-2019,Yankee Ferry Terminal,Soissons Landing,Silent,male,Subscriber,1,819,8.190000e+02,819,819,74.000000
7668517,May-1-2019,Yankee Ferry Terminal,South St & Whitehall St,Generation X,male,Subscriber,1,3777,3.777000e+03,3777,3777,41.000000
7668518,May-1-2019,Yankee Ferry Terminal,South St & Whitehall St,Generation X,unknown,Customer,4,24175,6.043750e+03,8315,3670,50.000000
7668519,May-1-2019,Yankee Ferry Terminal,South St & Whitehall St,Millennials,female,Subscriber,1,4206,4.206000e+03,4206,4206,27.000000
7668520,May-1-2019,Yankee Ferry Terminal,Water - Whitehall Plaza,Generation X,unknown,Customer,1,6644,6.644000e+03,6644,6644,50.000000
7668521,May-1-2019,Yankee Ferry Terminal,West Drive & Prospect Park West,Generation X,unknown,Customer,1,1320366,1.320366e+06,1320366,1320366,50.000000
7668522,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,female,Customer,1,1973,1.973000e+03,1973,1973,59.000000
7668523,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,female,Subscriber,5,4065,8.130000e+02,1965,113,61.200000
7668524,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,male,Customer,5,9201,1.840200e+03,3430,1044,59.800000
7668525,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Boomers,male,Subscriber,9,29099,3.233222e+03,12408,1109,60.444444
7668526,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,female,Customer,7,9901,1.414429e+03,1724,1219,44.000000
7668527,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,female,Subscriber,26,62002,2.384692e+03,10702,392,46.769231
7668528,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,male,Customer,8,10863,1.357875e+03,3244,101,45.875000
7668529,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,male,Subscriber,71,164814,2.321324e+03,13775,65,45.309859
7668530,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,unknown,Customer,231,518824,2.245991e+03,14345,62,49.956710
7668531,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation X,unknown,Subscriber,3,3497,1.165667e+03,2302,206,46.666667
7668532,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,female,Customer,17,39509,2.324059e+03,3534,1240,19.823529
7668533,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,female,Subscriber,2,2529,1.264500e+03,1290,1239,17.500000
7668534,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,male,Customer,11,30392,2.762909e+03,3483,989,19.909091
7668535,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Generation Z,male,Subscriber,6,9525,1.587500e+03,2313,126,20.333333
7668536,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,female,Customer,28,65556,2.341286e+03,7671,317,29.714286
7668537,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,female,Subscriber,42,83519,1.988548e+03,9871,391,30.500000
7668538,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,male,Customer,27,57570,2.132222e+03,5982,230,29.740741
7668539,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,male,Subscriber,46,66200,1.439130e+03,3553,65,32.521739
7668540,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Millennials,unknown,Subscriber,2,2672,1.336000e+03,2531,141,32.500000
7668541,May-1-2019,Yankee Ferry Terminal,Yankee Ferry Terminal,Silent,male,Subscriber,1,86,8.600000e+01,86,86,77.000000

In [102]:
combined_df.to_csv(os.path.join("Clean","Bike_Trip_Histories","Bike_Trip_Histories_Summary.csv"), index = False)